


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo_V2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Collection.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Demo_V2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" asp-append-version="true" />
    <script src="http://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <header>
        <nav class=" navbar">

            <div class=" logo"><a href="#">eNompilo Health care</a></div>
            <ul>
                <li><a href="#"><i class="fas fa-qrcode"></i> Dashboard</a></li>
                <li>
                    <a href="#"><i class="far fa-envelope"></i>Appointment History</a>
                    <ul class="dropdown">
                        <li><a href="#">Consultaion</a>
                        <li><a href="#">Medication</a>

                    </ul>
                </li>


                <li><a href="#"><i class="far fa-question-circle"></i>Help</a></li>



            </ul>


        </nav>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Demo_V2</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index_dash">Home2.0</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        </ul>
        </div>
        <partial name="_LoginPartial" />
        </div>
        </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted fixed-bottom">
        <div class="container">
            &copy; 2023 - Innovative Geeks
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>







