@{
    Layout = "_layoutCollection";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text and Label Example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Easy Access To Your Medication</h1>
    </div>
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-button">Search</button>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Medication Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Collection Date
                </th>


            </tr>
        </thead>

        <tbody>


            <tr>
                <td>Panado</td>
                <td>Alduts </td>
                <td>2/september/2023</td>





            </tr>


        </tbody>

    </table>
    <a asp-controller="delivery" asp-action="deliveryservice" class="btn btn-success mx-1"><i class=" bi bi-pencil-square"></i>Confirm and fill delivery info</a>

    <div class="section">
        <p>welcome  to our medication facility <br />please confirm your medication details to collect for this month <br /> please contact our Admin if the are issues regarding your medication records<br />Contact No:0721784629<br />Email:Mpho@eNompilogmail.com</p>
    </div>


</body>
</html>
