<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Prenatal_Care_.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/IndexPage_P.css" asp-append-version="true" />
	@* <link rel="stylesheet" href="~/css/LandingPage.css" asp-append-version="true" /> *@
     <title>The Innovative Geeks | eNompilo</title> 
 </head> 
<body>
	<header>
		<nav class="section__container nav__container">
			<div class="nav__logo">e-<span>Nompilo</span></div>
			<nav class="section__container nav__container" color="black">
				@* <div class="nav__logo">e-<span>Nompilo</span></div> *@
				<ul class="nav__links">
					<li class="nav-item">
						<a class="nav__logo" asp-area="" asp-controller="Home" asp-action="Index_dash">Home</a>
					</li>

					<li class="nav-item">
						<a class="nav__logo" asp-area="" asp-controller="AboutUs" asp-action="AboutUs">About Us</a>
					</li>
					<li class="nav-item active">
						<a class="nav__logo" asp-area="" asp-controller="Services" asp-action="Services">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav__logo" asp-area="" asp-controller="ContactUs" asp-action="ContactUs">Contact Us</a>
					</li>
				</ul>
			</nav>
			<div><a class="btn btn-primary" asp-area="" asp-controller="Last" asp-action="Add">Request an Appointment</a></div>
		</nav>
	</header>
	<div id="BodyWrapper" class="ContentWrapper">
		<div class="grey">
			<div class="container">
				<div class="row">
					<div id="dnn_TopContent" class="col-lg-12 DNNEmptyPane"></div>
				</div>
			</div>
	    </div>
	</div>
			<div class="BannerContainer">
				<div id="dnn_Banner" class="Banner">
					<div class="DnnModule DnnModule-DNN_HTML DnnModule-10675 DnnVersionableControl">
						<a name="10675"></a>
						<div class="DNNContainer_noTitle">
							<div id="dnn_ctr10675_ContentPane">
								<!-- Start_Module_10675 --><div id="dnn_ctr10675_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
									<div id="dnn_ctr10675_HtmlModule_lblContent">
										<div class="CovidBanner">
											 <img class="DesktopImage" src="~/css/preventive-coronavirus-vaccine-syringe.jpg" height="500" width="350"> 
											<div class="dnnImageToolWrapper" contenteditable="false" style="float: none;">
											</div>
										</div>
									</div>




								</div><!-- End_Module_10675 -->
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>

			 <h1>
        <span id="dnn_PageTitle" class="PageTitle">Information on Vaccination</span>
    </h1> 
	<div class="container">

		<div class="row CovidTopSection">
			<div id="dnn_ContentLeftBlock" class="col-lg-6 col-md-12">
				<div class="DnnModule DnnModule-DNN_HTML DnnModule-11297 DnnVersionableControl">
					<a name="11297"></a>
					<div class="DNNContainer_noTitle">
						<div id="dnn_ctr11297_ContentPane">
							<!-- Start_Module_11297 --><div id="dnn_ctr11297_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
								<div id="dnn_ctr11297_HtmlModule_lblContent">
									<div class="CovidPage InfoBlock">
										 <div class="InfoLinks">
											<span><a href="/">HOME</a></span><span><a>INFORMATION ON COVID-19</a></span>
										</div> 
										<div class="InfoBlockTitle">
											Welcome to Vaccination
										</div>
										<div class="InfoBlockDescription">
											For the latest information on Covid-19 you can join the official South African government Covid-19 WhatsApp group. Save the number, 060 012 3456 on your WhatsApp contact list and then say 'Hi' to be added to the group. You will receive a welcome notification and can then select from the menu what type of information you would like.
										</div>
									</div>
								</div>




							</div><!-- End_Module_11297 -->
						</div>
						<div class="clear"></div>
					</div>
				</div><div class="DnnModule DnnModule-DNN_HTML DnnModule-11537 DnnVersionableControl">
					<a name="11537"></a>
					<div class="DNNContainer_noTitle">
						<div id="dnn_ctr11537_ContentPane">
							<!-- Start_Module_11537 --><div id="dnn_ctr11537_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
								<div id="dnn_ctr11537_HtmlModule_lblContent">
									<div style="padding:30px; background:#ffffff; border-radius: 5px; margin-top:20px">
										<h2>For More Information on Vaccination</h2>
									<a href="https://www.who.int/news-room/questions-and-answers/item/vaccines-and-immunization-what-is-vaccination">Click here</a>
									</div> 
								</div>




							</div><!-- End_Module_11537 -->
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div id="dnn_ContentRightBlock" class="col-lg-6 col-md-12">
				<div class="DnnModule DnnModule-DNN_HTML DnnModule-11311 DnnVersionableControl">
					<a name="11311"></a>
					<div class="DNNContainer_noTitle">
						<div id="dnn_ctr11311_ContentPane">
							<!-- Start_Module_11311 --><div id="dnn_ctr11311_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
								<div id="dnn_ctr11311_HtmlModule_lblContent">
									<div class="CovidPage StatsBlock">
										<div class="StatsDetails">
											<h2 class="StatsTitle">
												Official South African statistics from the Government on COVID-19
											</h2>
											<div class="StatsTime">
												Updated daily at 08:00
											</div>
											<div class="CovidStats">
												<div class="StatBlock">
													<div class="heading">
														COVID-19 tests completed
													</div>
													<div class="number">
														<span>24 198 159</span>
													</div>
												</div>
												<div class="StatBlock">
													<div class="heading">
														Positives cases
													</div>
													<div class="number">
														<span>3 742 107</span>&nbsp; &nbsp; &nbsp;
													</div>
												</div>
											</div>
											<div class="CovidStats">
												<div class="StatBlock">
													<div class="heading">
														Recoveries
													</div>
													<div class="number">
														3 627 969
													</div>
												</div>
												<div class="StatBlock">
													<div class="heading">
														Deaths
													</div>
													<div class="number">
														100 181&nbsp; &nbsp; &nbsp;
													</div>
												</div>
											</div>
										</div>
										<div class="WebsiteWrapper">
											<div class="StatsLogo">
												<img src="~/css/pexels-nataliya-vaitkevich-5863404.jpg" height="150" width="100">
											</div>
											<div class="WebsiteLink">
												<span>COVID-19</span>
												<span>Online Resource &amp; News Portal </span>
												<a class="GoldLink" href="https://sacoronavirus.co.za/" target="_blank">www.sacoronavirus.co.za</a>
											</div>
										</div>
									</div>
								</div>




							</div><!-- End_Module_11311 -->
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="dnn_MiddleContent" class="col-lg-12">
				<div class="DnnModule DnnModule-DNN_HTML DnnModule-11576 DnnVersionableControl">
					<a name="11576"></a>
					<div class="DNNContainer_noTitle">
						<div id="dnn_ctr11576_ContentPane">
							<!-- Start_Module_11576 --><div id="dnn_ctr11576_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
								<div id="dnn_ctr11576_HtmlModule_lblContent">
									<div class="WhiteBG" id="SplitBanner">
										<div class="Image">
											<img src="~/css/pexels-pavel-danilyuk-5998489.jpg">
										</div>
										<div class="Content">
											<div class="TextWrapper">
												<h6>The Impact of taking your vaccines </h6>
												<p>
													Here is what you need to know about the importance of getting not only yourself, but your loved ones vaccinated.
												</p>
												<a class="btn btn-primary" href="~/https://www.cdc.gov/vaccines/adults/reasons-to-vaccinate.html" tabindex="0">Learn more</a>
											</div>
										</div>
									</div>
								</div>




							</div><!-- End_Module_11576 -->
						</div>
						<div class="clear"></div>
					</div>
				</div><div class="DnnModule DnnModule-DNN_HTML DnnModule-10680 DnnVersionableControl">
					<a name="10680"></a>
					<div class="DNNContainer_noTitle">
						<div id="dnn_ctr10680_ContentPane">
							<!-- Start_Module_10680 --><div id="dnn_ctr10680_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
								<div id="dnn_ctr10680_HtmlModule_lblContent">
									<div class="WhiteBG" id="SplitBanner">
										<div class="Image">
											<img src="~/css/pexels-karolina-grabowska-5207020.jpg">
										</div>
										<div class="Content">
											<div class="TextWrapper">
												<h6>Self-screening Questionnair</h6>
												<p>
													Please take our Self-screening questionnair, it is just a few questions, it helps us understanding how many 
													people were affected very negatively by covid and just about taking your shorts in general
													<a class="btn btn-primary" asp-area="" asp-controller="Vaccine" asp-action="SelfScreening">Take Questionnaire</a>
											</div>
											</div>
										</div>
									</div>
									<div class="BannerContent" id="SplitBanner">
										<div class="Image">
											<img src="~/css/pexels-gustavo-fring-8770707.jpg">
										</div>
										<div class="Content">
											<div class="TextWrapper">
												<h6>Busting vaccine myths</h6>
												<p>
													Many instances of misinformation have been recorded during the COVID-19 pandemic and myths about vaccines and the COVID-19 vaccine abound.
												</p>
												<a class="btn btn-primary" href="/Coronavirus-Information-on-COVID-19/Busting-vaccine-myths" tabindex="0">Read COVID-19 vaccine facts and myths</a>
											</div>
										</div>
									</div>
								</div>




							</div><!-- End_Module_10680 -->
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="dnn_MiddleContentTwo" class="col-lg-12">
				<div class="DnnModule DnnModule-DNN_HTML DnnModule-11307 DnnVersionableControl">
					<a name="11307"></a>
					<div class="DNNContainer_noTitle">
						<div id="dnn_ctr11307_ContentPane">
							<!-- Start_Module_11307 --><div id="dnn_ctr11307_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
								<div id="dnn_ctr11307_HtmlModule_lblContent"></div>




							</div><!-- End_Module_11307 -->
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	
   
   
<footer class="footer">
    <div class="section__container footer__container">
        <div class="footer__col">
            <h3>e-<span>Nompilo</span></h3>
            <p>
                We are honored to be a part of your healthcare journey and committed
                to delivering compassionate, personalized, and top-notch care every
                step of the way.
            </p>
            <p>
                Trust us with your health, and let us work together to achieve the
                best possible outcomes for you and your loved ones.
            </p>
        </div>
        <div class="footer__col">
            <h4>About Us</h4>
            <p>Home</p>
            <p>About Us</p>
            <p>Work With Us</p>
            <p>Our Blog</p>
            <p>Terms & Conditions</p>
        </div>
        <div class="footer__col">
            <h4>Services</h4>
            <p>Search Terms</p>
            <p>Advance Search</p>
            <p>Privacy Policy</p>

        </div>
        <div class="footer__col">
            <h4>Contact Us</h4>
            <p>
                <i class="ri-map-pin-2-fill"></i> 45, ForestHill Summerstrand, Port Elizabeth
            </p>
            <p><i class="ri-mail-fill"></i> eNompilo@gmail.com</p>
            <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
        </div>
    </div>
    <div class="footer__bar">
        <div class="footer__bar__content">
            <p>Copyright © 2023 Innovative Geeks. All rights reserved.</p>
            <div class="footer__socials">
                <span><i class="ri-instagram-line"></i></span>
                <span><i class="ri-facebook-fill"></i></span>
                <span><i class="ri-heart-fill"></i></span>
                <span><i class="ri-twitter-fill"></i></span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>

        
