@{
    Layout = "_Gui";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>Side bar menu</title>
    <link rel="stylesheet" href="~/css/GuiStyle.css" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" asp-append-version="true" />
    <script src="http://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>
<body>
    <div class="wrapper">
        <h1>Welcome to chronic Medication</h1>

    </div>
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-button">Search</button>
    </div>

    <div class="section">
        <h4>Managing a Healthier Tomorrow: Navigating Chronic Medication Care</h4>
    </div>

    @*<div class="content">
    <p>our chronic faclity  cares more about lives more than anything ,provides you with the opportunity to book or consult a doctor <br />
    options:<br />
    1. Self-prescriptions()<br />
    2.Collectiom()<br />
    3.Booking</p>
    </div>*@

    <div class="card-container">
        @*
        <a class="card card1" asp-area="" asp-controller="Booking" asp-action="Book">Booking


        <div class="card card1">Self-prescription </div>
        <div class="card card2">Booking</div>
        <div class="card card3">Collection</div>

        </a>*@
        <a class="card card1" asp-area="" asp-controller="HomeBook" asp-action="HomeB">
            <div class="card-icon">
                <i class="fas fa-book"></i>
            </div>
            <div class="card-content">
                <h2>Bookings</h2>
                <p>More about bookings.<br />get to manage your bookings well by <br />either tracking your appointment<br />Or booking for your self</p>
            </div>
        </a>
        <a class="card card2" asp-area="" asp-controller="Prescription" asp-action="Self">
            <div class="card-icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="card-content">
                <h2>Self-Prescription</h2>
                <p>Need a specific medication  <br />E-nompilo got you visit the self prescription page.</p>
            </div>

        </a>
        <a class="card card3" asp-area="" asp-controller="Collection" asp-action="Collect">
            <div class="card-icon">
                <i class="fas fa-pills"></i>
            </div>
            <div class="card-content">
                <h2>Collection</h2>
                <p>Monthly Treatment !  <br />Click here to drift closer to your medication.</p>
            </div>
        </a>
        @*  <a class="card card2" asp-area="" asp-controller="Prescription" asp-action="Self">Self-prescription


        <div class="card card1">Self-prescription </div>
        <div class="card card2">Booking</div>
        <div class="card card3">Collection</div>

        </a>*@
        @*    <a class="card card3" asp-area="" asp-controller="Collection" asp-action="Collect">Collection



        <div class="card card1">Self-prescription </div>
        <div class="card card2">Booking</div>
        <div class="card card3">Collection</div>

        </a>*@

    </div>







</body>
</html>




