@* @{
    Layout = "_LayoutFormBooking";
}
@model GeeksProject02.Models.Appointments

<h1>Add Booking</h1>
<form method="post" action="Add" class="mt-5">
    <center><h2>Personal Information</h2></center>


    <label class="form-label fs-14;">First Name<span style="color: red;">*</span>:</label><br>
    <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName"><br>
    <span asp-validation-for="FirstName" class="text-danger"></span>

    <label class="form-label fs-14;">Surname<span style="color: red;">*</span>:</label><br>
    <input type="text" class="form-control" placeholder="Surname" asp-for="Surname"><br>
    <span asp-validation-for="Surname" class="text-danger"></span>

    <label class="form-label fs-14;">Date Of Birth<span style="color: red;">*</span>:</label><br>
    <input type="date" class="form-control" asp-for="DOB"><br>
    <span asp-validation-for="DOB" class="text-danger"></span>

    <div class="form-floating mb-3">
        <label for="gender">Gender</label>
        <select class="form-select" id="gender" asp-for="Gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="non-binary">Non-binary</option>
            <option value="other">Other</option>
        </select>
    </div>

    <label class="form-label fs-14;">Email Address<span style="color: red;">*</span>:</label><br>
    <input type="email" class="form-control" placeholder="name@example.com" asp-for="EmailAddress"><br>
    <span asp-validation-for="EmailAddress" class="text-danger"></span>

    <label class="form-label fs-14;">Phone Number<span style="color: red;">*</span>:</label><br>
    <input type="tel" class="form-control" placeholder="0721784629" asp-for="PhoneNumber"><br>
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

    <div class="form-floating">
        <textarea class="form-control" placeholder="Symptoms/Requests" asp-for="AdditionalInfo"></textarea>
        <label for="AdditionalInfo">AdditionalInfo</label>
        <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input type="date" class="form-control" asp-for="AppointmentDate">
        <label for="AppointmentDate">Appointment Date</label>
        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
    </div>

    <label class="form-label fs-14">Do you belong to a Medical Aid:</label>
    <select class="form-control" id="medicalAidDropdown">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>

    <div class="form-group" id="medicalAidFields" style="display: none;">
        <label class="form-label fs-14">Medical Aid Number:</label>
        <input type="text" class="form-control" placeholder="Medical Aid Number" asp-for="MedicalAidNumber">

        <label class="form-label fs-14">Medical Aid Name:</label>
        <input type="text" class="form-control" placeholder="Medical Aid Name" asp-for="MedicalAidName">
    </div>

    <input type="submit" class="btn btn-info w-75" value="Submit" />
</form>
 *@
