@page
@model GeeksProject02.Models.UpdateViewModel

<h1>View Booking</h1>
<form border-radius="5px" background-color="aliceblue" padding="20px" action="View">

    <div class="form-group">
        <label for="Id">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="form-group">
        <label for="PhoneNumber">First Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="First Name" placeholder="Alice Number">
    </div>
    <div class="form-group">
        <label for="Surname">Surname</label>
        <input type="text" class="form-control" id="surname" aria-describedby="surname" placeholder="Smith">
    </div>
    <div class="form-group">
        <label for="DOB">Date of Birth</label>
        <input type="date" class="form-control" id="DOB" aria-describedby="DOB" placeholder="27 August 1998">
    </div>
    <div>
        <p>What is your gender?</p>
        <input type="radio" name="gender" value="male"> Male
        <input type="radio" name="gender" value="female"> Female
        <input type="radio" name="gender" value="Rather not say"> Rather not say

    </div>

    <label><b>Days of the week you are available for appointment:</b></label><br>

    <input type="checkbox" id="day1" name="day1" value="Monday">
    <label for="day1">Monday</label><br>
    <input type="checkbox" id="day2" name="day2" value="Tuesday">
    <label for="day2">Tuesday</label><br>
    <input type="checkbox" id="day3" name="day3" value="Wednesday">
    <label for="day3">Wednesday</label><br>
    <input type="checkbox" id="day4" name="day4" value="Thursday">
    <label for="day4">Thursday</label><br>
    <input type="checkbox" id="day5" name="day5" value="Friday">
    <label for="day5">Friday</label><br><br>

    <label><b>Best time of day for your appointment:</b></label><br>
    <input type="checkbox" id="shift1" name="shift1" value="Morning">
    <label for="shift1">Morning</label><br>
    <input type="checkbox" id="shift2" name="shift2" value="Evening">
    <label for="shift2">Afternoon</label><br>

    <div class="form-group">
        <label for="AppointmentDate">Appointment Date</label>
        <input type="date" class="form-control" id="AppointmentDate" aria-describedby="AppointmentDate" placeholder="30 October 2023">
    </div>

    <center><h2>Payment Method</h2></center>
    <div class="form-group col-md-4">
        <label for="medicalAidNumber">Do you belong to a Medical Aid:</label>
        <select id="medicalAidDropdown" class="form-group col-md-4">
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
    </div>
    <a class="btn btn-primary" asp-area="" asp-controller="AdminDashboard" asp-action="AdminDashboard">Back</a>

    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Delete">
        Delete
    </button>

</form>
