@page
@model GeeksProject02.Models.AdminViewModel

<h1>View Booking</h1>
<form border-radius="5px" background-color="aliceblue" padding="20px" action="View">

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" value="Alice" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surname">Surname</label>
        <input asp-for="Surname" class="form-control" value="Smith" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DOB">Date of Birth</label>
        <input asp-for="DOB" type="date" class="form-control" value="2023-01-01" />
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Gender">Gender</label>
        <select asp-for="Gender" class="form-control">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="Rather not say">Rather not say</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="AppointmentDate">Appointment Date</label>
        <input asp-for="AppointmentDate" class="form-control" />
        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
    </div>

    <div class="form-group col-md-4">
        <label asp-for="IsMedicalAidMember">Do you belong to a Medical Aid:</label>
        <select id="medicalAidDropdown" asp-for="IsMedicalAidMember">
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select>
    </div>
    <a class="btn btn-primary" asp-area="" asp-controller="AdminDashboard" asp-action="AdminDashboard">Back</a>

    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Delete">
        Delete
    </button>

</form>
