@* @{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_P_Index";
} *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Prenatal_Care_.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/IndexPage_P.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <title>The Innovative Geeks | eNompilo</title>
</head>
<body>
    <!------------------------------------------------------------------------------------------------------- HEADER ---------------------------------------------->
    <header>
        <nav class="section__container nav__container">
            <div class="nav__logo">e-<span>Nompilo</span></div>
            <ul class="nav__links">
                <li><Link to="/">Home</li>
                <li><Link to="/about-us">About Us</li>
                <li><Link to="/services">Services</li>
                <li><Link to="/contact-us">Contact Us</li>


            </ul>
            <button class="btn">Contact Us</button>
        </nav>
    </header>
    <!--------------------------------------------------------------------------------------------------------- BODY ---------------------------------------------->
    <div id="BodyWrapper" class="ContentWrapper">
        <div class="grey">
            <div class="container">
                <div class="row">
                    <div id="dnn_TopContent" class="col-lg-12 DNNEmptyPane"></div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------ BODY_NEWS HEADLINES ---------------------------------------------------->
    <section class="news-cards" aria-labelledby="news-title">
        <div class="container">
            <h2 id="news-title">Prenatal News</h2>
            <ul class="news-cards__list">
                <li class="news-cards__list-item">
                    <div href="#" class="news-cards__link">
                        <div style="background-image:url(https://d2jx2rerrg6sh3.cloudfront.net/image-handler/ts/20231020082546/ri/750/src/images/news/ImageForNews_762249_16978047448374694.jpg)" class="news-cards__image"></div>
                        <h3>New study links prenatal chemical exposure to childhood obesity trajectories</h3>
                        <p>A recent study, published in Environmental Health Perspectives, assessed the connections between prenatal exposure to endocrine-disrupting chemicals (EDCs) and the growth patterns of children's body mass index (BMI) using single exposure and mixture modeling methods...</p>
                        <a href="https://www.news-medical.net/news/20231020/New-study-links-prenatal-chemical-exposure-to-childhood-obesity-trajectories.aspx" class="news-cards__learn-more">
                            Learn More
                            <span class="visually-hidden">about article 2</span>
                        </a>
                    </div>
                </li>
                <li class="news-cards__list-item">
                    <div href="#" class="news-cards__link">
                        <div style="background-image:url(https://d2jx2rerrg6sh3.cloudfront.net/image-handler/ts/20231018090937/ri/750/src/images/news/ImageForNews_762077_16976777670585609.jpg)" class="news-cards__image"></div>
                        <h3>How does oxidative stress during pregnancy influence the child’s behavior and emotional states?</h3>
                        <p>A recent Molecular Psychiatry study investigates the association between maternal oxidative stress during pregnancy and early childhood mental disorders...</p>
                        <a href="https://news-medical.net/news/20231019/How-does-oxidative-stress-during-pregnancy-influence-the-childe28099s-behavior-and-emotional-states.aspx" class="news-cards__learn-more">
                            Learn More
                            <span class="visually-hidden">about article 2</span>
                        </a>
                    </div>
                </li>
                <li class="news-cards__list-item">
                    <div href="#" class="news-cards__link">
                        <div style="background-image:url(https://d2jx2rerrg6sh3.cloudfront.net/image-handler/picture/2014/7/High_Blood_Pressure-150x125.jpg)" class="news-cards__image"></div>
                        <h3>Pregnant and addicted: Homeless women see hope in street medicine</h3>
                        <p>Five days after giving birth, Melissa Crespo was already back on the streets, recovering in a damp, litter-strewn water tunnel, when she got the call from the hospital...</p>
                        <a href="https://www.news-medical.net/news/20231018/Pregnant-and-addicted-Homeless-women-see-hope-in-street-medicine.aspx" class="news-cards__learn-more">
                            Learn More
                            <span class="visually-hidden">about article 2</span>
                        </a>
                    </div>
                </li>
                <li class="news-cards__list-item">
                    <div href="#" class="news-cards__link">
                        <div style="background-image:url(https://d2jx2rerrg6sh3.cloudfront.net/image-handler/ts/20231004085343/ri/750/src/images/news/ImageForNews_760867_16964672206435172.jpg)" class="news-cards__image"></div>
                        <h3>How vitamin D and genetics shape early brain development</h3>
                        <p>In a recent study published in Nutrients, a group of researchers examined the association between 25-hydroxy-vitamin D (25(OH)D) concentrations and neurodevelopmental outcomes in 3–5-year-old children, considering both maternal vitamin D (VitD) supplementation during pregnancy and vitamin D binding protein (VDBP) genotypes...</p>
                        <a href="https://www.news-medical.net/news/20231004/How-vitamin-D-and-genetics-shape-early-brain-development.aspx" class="news-cards__learn-more">
                            Learn More
                            <span class="visually-hidden">about article 2</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!------------------------------------------------------------------------------------------------------ BODY_MUMMY N BABY INFO ------------------------------->

    <!------------------------------------------------------------------------------------------------------ MUMMY INFO ------------------------------------------->
    <section class="section__container about__container">
        <div class="about__content">
            <h2 class="section__header">Your Baby(WEEK 13)</h2>
            <p>
                Your baby is now fully formed and looks much more like a human being. They are about 7.5 cm long — about the size of a peach — and weigh about 30g. They are moving about vigorously in your uterus and they can move their arms and legs, suck their thumb and form a fist.
            </p>
            <p>
                Their organs, including the liver and pancreas, are starting to function. The vocal cords are beginning to develop, and they have soft hair on their eyebrows and head. They are growing a penis or clitoris, but these are too small to be seen during an ultrasound.
            </p>
            <p>
                The kidneys produce urine, which becomes amniotic fluid. The baby practises breathing and swallowing the fluid.
            </p>
        </div>
        <div class="about__image">
            <img src="https://raisingchildren.net.au/__data/assets/image/0020/35327/pregnancy-w13.jpg" alt="about" />
        </div>
        <div>
            <a class="btn btn-primary" href="https://www.babycenter.com/pregnancy/week-by-week/13-weeks-pregnant">Learn More</a>
        </div>
    </section>
    <!-------------------------------------------------------------------------------------- BABY INFO ------------------------------------------------------------>
    <section class="section__container about__container">
        <div class="about__content">
            <h2 class="section__header">Your Body(WEEK 13)</h2>
            <p>
                At 13 weeks, you have officially entered the second trimester of pregnancy. If morning sickness is still a problem, talk to your doctor or midwife about how to manage it.
            </p>
            <p>
                Your bump might start to show and you might feel the ligaments stretching in your tummy and groin.
            </p>
            <p>
                You may notice more visible veins, especially in your breasts. You may also be tired, have food cravings or food aversions, or have heartburn, indigestion or constipation.
            </p>
        </div>
        <div class="about__image">
            <img src="https://www.smababy.co.uk/sites/default/files/2020-06/13-weeks-pregnant-banner.jpg" alt="about" />
        </div>
        <div>
            <a class="btn btn-primary" href="https://www.babycenter.com/pregnancy/week-by-week/13-weeks-pregnant">Learn More</a>
        </div>
    </section>
    <!-------------------------------------------------------------------------------- OTHER SERVICES ---------------------------------------------------------------->
    <section class="section__container why__container">
        <div class="why__image">
            <img src="https://images.unsplash.com/photo-1528716321680-815a8cdb8cbe?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNvdW5zZWxsaW5nfGVufDB8fDB8fHww" alt="why choose us" />
        </div>
        <div class="why__content">
            <h2 class="section__header">Ways to Ensure Healthy Pregnancy</h2>
            <p>
                It's important for pregnant individuals to discuss these options with their healthcare provider to determine the most suitable course of action based on their specific health needs and circumstances.
            </p>
            <div class="why__grid">
                <span><a class="ri-message-3-fill" asp-area="" asp-controller="Counseling" asp-action="Counsel"></a></span>
                <div>
                    <h4>Counceling</h4>
                    <p>
                        Couples may seek counseling to navigate the changes in their 
                        relationship and prepare for the challenges of becoming parents.
                    </p>
                </div>
                <span><a class="ri-capsule-fill" href="https://www.pregnancybirthbaby.org.au/vitamins-and-supplements-during-pregnancy"></a></span>
                <div>
                    <h4>Pregnancy Supliments</h4>
                    <p>
                        Omega-3 fatty acids in prenatal supplements can support
                        the development of the baby's brain and eyes.
                    </p>
                </div>
                <span><a class="ri-syringe-fill" asp-area="" asp-controller="Vaccine" asp-action="Vaccine"></a></span>
                <div>
                    <h4>Vaccination</h4>
                    <p>
                        Some vaccines, like the flu vaccine, can reduce the risk of respiratory 
                        infections and complications that can be more severe during pregnancy.
                    </p>
                </div>
            </div>
        </div>
    </section>
    @* <br />
    <h2 id="news-title" style="position:center">Changes to the Baby</h2>
    <br />
    <div id="slider">
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <input type="radio" name="slider" id="slide4">
        <div id="slides">
            <div id="overflow">
                <div class="inner">
                    <div class="slide slide_1">
                        <div class="slide-content">
                            <h2>Slide 1</h2>
                            <p>Content for Slide 1</p>
                        </div>
                    </div>
                    <div class="slide slide_2">
                        <div class="slide-content">
                            <h2>Slide 2</h2>
                            <p>Content for Slide 2</p>
                        </div>
                    </div>
                    <div class="slide slide_3">
                        <div class="slide-content">
                            <h2>Slide 3</h2>
                            <p>Content for Slide 3</p>
                        </div>
                    </div>
                    <div class="slide slide_4">
                        <div class="slide-content">
                            <h2>Slide 4</h2>
                            <p>Content for Slide 4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
        <div id="bullets">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
    </div> *@

    <!---------------------------------------------------------------------------------------------------------- FOOTER ------------------------------------------->
    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h3>e-<span>Nompilo</span></h3>
                <p>
                    We are honored to be a part of your healthcare journey and committed
                    to delivering compassionate, personalized, and top-notch care every
                    step of the way.
                </p>
                <p>
                    Trust us with your health, and let us work together to achieve the
                    best possible outcomes for you and your loved ones.
                </p>
            </div>
            <div class="footer__col">
                <h4>About Us</h4>
                <p>Home</p>
                <p>About Us</p>
                <p>Work With Us</p>
                <p>Our Blog</p>
                <p>Terms & Conditions</p>
            </div>
            <div class="footer__col">
                <h4>Services</h4>
                <p>Search Terms</p>
                <p>Advance Search</p>
                <p>Privacy Policy</p>

            </div>
            <div class="footer__col">
                <h4>Contact Us</h4>
                <p>
                    <i class="ri-map-pin-2-fill"></i> 45, ForestHill Summerstrand, Port Elizabeth
                </p>
                <p><i class="ri-mail-fill"></i> eNompilo@gmail.com</p>
                <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
            </div>
        </div>
        <div class="footer__bar">
            <div class="footer__bar__content">
                <p>Copyright © 2023 Innovative Geeks. All rights reserved.</p>
                <div class="footer__socials">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-facebook-fill"></i></span>
                    <span><i class="ri-heart-fill"></i></span>
                    <span><i class="ri-twitter-fill"></i></span>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/Index_Slides_P.js"></script>
</body>
</html>