@{
    Layout = "_layoutBooking";
}

<h1>Booking</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text and Label Example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="form-group">
            <label for="inputText">Appointment Date:</label>
            <input type="Date" class="form-control" id="inputText" placeholder="Type something...">
        </div>

    </div>
    <div class="container">
        <div class="form-group">
            <label for="inputText">ApppointmentType:</label>
            <input type="text" class="form-control" id="inputText" placeholder="Type something...">
        </div>

    </div>
    <div class="container">
        <div class="form-group">
            <label for="inputText">Doctors Status:</label>


            <input type="text" class="form-control" id="inputText" placeholder="Type something...">
        </div>


    </div>
    <div>
        <button type="button"><span></span>Book</button>


    </div>
</body>
</html>

