@{
    Layout = "_layouthomeBooking";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Removable Note</title>
</head>
<body>
    <div class="section">
        <h1>Save time for long ques .Book Your Seat</h1>
    </div>
    <div class="note-container">
        <div class="note">
            <p>the are no available Bookings .</p>
            <button class="remove-button">Remove</button>
        </div>
    </div>

    <a class="redirect-button" asp-area="" asp-controller="Book_a" asp-action="Layer">ADD Booking</a>

    <script src="Script.js"></script>
</body>
</html>


