@page
@model GeeksProject02.Models.MedicalAidModel
@{
    Layout = "_LayoutVaccine";
}
<head>
    <meta charset="utf-8" />
    <title>Dashboard | By The Innovative Geeks</title>
    <link rel="stylesheet" href="~/css/Vaccine.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Define a dictionary to store kids vaccine
            var VaccineRecipient = {
                "For Adults": ["Influenza (Flu)", "Pneumococcal", "Tetanus, Diphtheria, Pertussis (Tdap/Td)", "Hepatitis A and B", "Human Papillomavirus (HPV)", "Covid-19"],
                "For kids": ["Measles, Mumps, and Rubella (MMR)", "Chickenpox (Varicella)", "Influenza (flu)", "Diphtheria,tetanus, and whooping cough(pertussis)(DTaP)", "Polio(IPV)", "Rotavirus (RV)"],
                
            };

            // Function to update city options based on the selected province
            function updateVaccine(selectedVaccineRecipient) {
                var cityDropdown = $("#Vaccine");
                cityDropdown.empty();

                var Vaccine = VaccineRecipient[selectedVaccineRecipient];
                if (Vaccine) {
                    Vaccine.forEach(function (Vaccine) {
                        cityDropdown.append($("<option>").val(Vaccine).text(Vaccine));
                    });
                }

            }
            // Attach change event handler to the province dropdown
            $("#VaccineRecipient").on("change", function () {
                var selectedVaccineRecipient = $(this).val();
                updateVaccineOptions(selectedVaccineRecipient);
            });

            // Initialize city options based on the initial selected province
            updateVaccineOptions($("#VaccineRecipient").val());
            });
    </script>
    <script>
        $(document).ready(function () {
            $("#medicalAidDropdown").on("change", function () {
                var selectedOption = $(this).val();
                if (selectedOption === "yes") {
                    alert("Please provide your medical aid information.");
                    $("#medicalAidFields").show();
                    
                } else {
                    $("#medicalAidFields").hide();
                }
            });

            $("#submitButton").on("click", function () {
                // Perform form submission or other actions
            });
        });
    </script>
    

</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li type="none"><a href="#" class="logo"><img src="~/css/GroupLogo.png" alt="" /><span class="nav-item01">DashBoard</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-home"></i><span class="nav-item02">Home</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-user"></i><span class="nav-item03">Profile</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-wallet"></i><span class="nav-item04">Medical History</span></a></li>
                @* <li><a href="#"><i class="fas fa-chart"></i><span class="nav-item">Analytics</span></a></li> *@
                <li type="none"><a href="#"><i class="fas fa-tasks"></i><span class="nav-item05">Tasks</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-cog"></i><span class="nav-item06">Settings</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-question-circle"></i><span class="nav-item07">Help</span></a></li>
                <li type="none"><a href="#" class="logout"><i class="fas fa-sign-out-alt"></i><span class="nav-item08">Log Out</span></a></li>
            </ul>
        </nav>
    </div>
</body>
<h1>Vaccine & Medical Aid Details</h1>
<div class="form-group col-md-4">
    <label for="VaccineRecipient">Choose Vaccine Recipient:</label>
    <label for="VaccineRecipient">Choose Vaccine Recipient:</label>
    <select id="provinceDropdown" class="custom-dropdown">
        <option value="For Adults">For Adults</option>
        <option value="For Kids">For Kids</option>>
    </select>
    <label for="Vaccine">Vaccine:</label>
    <select id="cityDropdown" class="custom-dropdown">
        <!-- City options will be populated dynamically -->
    </select>
</div>
<div class="form-group col-md-4">
     <label for="medicalAidNumber">Do you belong to a Medical Aid:</label>
     <select id="medicalAidDropdown" class="form-group col-md-4">
    <option value="no">No</option>
    <option value="yes">Yes</option>
     </select>
</div>

<div id="medicalAidFields" style="display: none;">
    <label for="medicalAidNumber">Medical Aid Number:</label>
    <input type="text" id="medicalAidNumber" name="medicalAidNumber">

    <label for="MedicalAidName">Medical Aid Name:</label>
    <input type="text" id="MedicalAidName" name="MedicalAidName">
</div>

<div class="form-group row justify-content-end">
    <div class="col-sm-10">
        <a class="btn btn-primary" asp-area="" asp-controller="AdultsNextPage" asp-action="AdultsNextPage">Back</a>
        <a class="btn btn-primary" asp-area="" asp-controller="AppointmentPreference" asp-action="AppointmentPreference">Next</a>
        
    </div>
</div>



