@model List<GeeksProject02.Models.Appointments_P>
@inject Microsoft.AspNetCore.Identity.UserManager<GeeksProject02.Areas.Identity.Data.GeeksProject02User> userManager


@{
    var userId = userManager.GetUserId(User);
    var isAdmin = User.IsInRole("Admin");
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device=width, initial-scale=1">
</head>

@{
    Layout = "_Layout_P_StaffIndex";
}

<section class="section__container about__container">
    <div class="about__image">
        <img src="https://images.unsplash.com/photo-1631507623121-eaaba8d4e7dc?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="prenatal care" />
    </div>
    <div class="about__content">
        <h2 class="section__header">A Big Thank-You To Our Staff !!</h2>
        <p>
            Good doctors and nurses don’t do what they do for recognition – but that doesn’t mean they 
            don’t appreciate the praise when they get it! For service and care above and beyond the call 
            of duty, they deserve a little something showing your appreciation and gratefulness.
        </p>
        <p>
            Sometimes we find ourselves or someone we love dealing with a longer illness than we ever 
            thought we’d have to live through. Thank goodness for the amazing hospital staff who created 
            a happy and comfortable environment as your stay turned into a longer one. You really got 
            to know them on a deeper level, so thanking them for their care is a no brainer.
        </p>
@*         <div>
            <br />
            <a class="btn btn-primary" href="https://www.marchofdimes.org/find-support/topics/pregnancy/eating-healthy-during-pregnancy">Learn More</a>
        </div> *@
    </div>
</section>

@* <div>
    <div>
        <div>
            <h2>Which Table do you want to View?</h2>
        </div>
    </div>
    <br />
    <br />
    <br />
    <a class="btn btn-primary" asp-area="" asp-controller="P_Admin" asp-action="View_Patient">Patient Info</a>
</div> *@