<div>
    <div>
        <div>
            <h2>Which Table do you want to View?</h2>
        </div>
    </div>
    <br />
    <br />
    <br />
    <a class="btn btn-primary" asp-area="" asp-controller="P_Admin" asp-action="View_Patient">Patient Info</a>
</div>