@model List<GeeksProject02.Models.Patient_Info>



<div class="container p-3">
    <div class="fa-arrows pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of Patients Currently in Prenatal Care</h2>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    @* <th>
                        Patient ID
                    </th> *@
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Email
                    </th>
                   @*  <th>
                        Current Week
                    </th> *@
                </tr>
            </thead>

            <tbody>
                @foreach (var patient in Model)
                {
                    <tr>
                        @* <td>@patient?.patient_ID</td> *@
                        <td>@patient?.first_name</td>
                        <td>@patient?.last_name</td>
                        <td>@patient?.email</td>
                        @* <td>@patient?.tracker?.current_week</td> *@
                        <td>
                            <div class="btn"></div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Patients in the Prenatal Care System...</p>
    }
</div>