
@{
    Layout = "_LayoutChronicMedication";
}

 @model GeeksProject02.Models.Notes
 @{
	   var errorMessage = TempData["errorMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(@errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
		<button type="button" class=" btn-close float-end" data-bs-dismissal ="Alert"></button>
    </div>
    
}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Notes.css" asp-append-version="true" />
 @*   < link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"> *@
    <title>Show/Hide Example</title>
        

</head>
<body>
        <header>
        <nav class="section__container nav__container">
            <div class="nav__logo">e-<span>Nompilo</span></div>
            <ul class="nav__links">
                <a asp-action="" asp-controller="">
                <li><Link to="/">Home</li>
                </a>
                <a asp-action="" asp-controller="">
                <li><Link to="/about-us">About Us</li>
                </a>
                <a asp-action="" asp-controller="">
                <li><Link to="/contact-us">View Medical record</li>
                </a>

            </ul>
            @* <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a> *@
            <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a>
        </nav>
    </header>
    <div class="container">
        <div class="image"></div>
        <div class="text">

            <p>Welcome to our Health Care Portal as Enompilo Facility your well-being is our top priority. <br />To ensure you receive the best care tailored to your needs, please take a moment to provide us with your medical history.<br /> Your detailed information helps us deliver personalized and accurate healthcare services.<br /> Thank you for entrusting us with your health information. </p>
        </div>
    </div>
 
 <h2 class="heading">Doctors notes</h2>


<div class="inner contact">
   
               
                
                    <!-- Form -->
                    <form class="form-data" method="post" asp-action="Notes">
                         <div asp-validation-summary="ModelOnly" class="text-danger> </div>
                        <div class="form-head">

                      
                           </div>
                        <!-- Left Inputs -->
                        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Name -->
                            <label class="form-label fs-14;"> Doctor Name:</label><br>
                            <input asp-for="DoctorName" type="text"  class="form-control" placeholder="Name" />
                            <span asp-validation-for="DoctorName" class="text-danger"></span><br/>
                         <!-- Subject -->
                         <label class="form-label fs-14;">Date:</label><br>
                        <input asp-for="Date" type="Date"  class="form-control" placeholder="Subject" />
                        <span asp-validation-for="Date" class="text-danger"></span><br/>

                        <label class="form-label fs-14;">Subject:</label><br>
                        <input asp-for="subject" type="text"  class="form-control" placeholder="Subject" />
                        <span asp-validation-for="subject" class="text-danger"></span><br/>
                    </div><!-- End Left Inputs -->
                        <!-- Right Inputs -->
                        <label class="form-label fs-14;">Message:</label><br>
                        <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                            <!-- Message -->
                            <textarea asp-for="Message"  class="form-control"  placeholder="Message"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div><!-- End Right Inputs -->
                        <!-- Bottom Submit -->
                        <div class="relative fullwidth col-xs-12">
                            <!-- Send Button -->
                            @* <button asp-action="Notes" asp-controller="ChronicDoctor" type="submit"  name="submit" class="form-btn semibold">Send Note</button>  *@
                           <input type="submit" class=" btn btn-info w-75" value="Notes" />
                        </div><!-- End Bottom Submit -->
                        
                    </form>

                

           
              </div><!-- End Contact Form Area -->
           @*  </div><!-- End Inner --> *@

 

















           



    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h3>e-<span>Nompilo</span></h3>
                <p>
                    We are honored to be a part of your healthcare journey and committed
                    to delivering compassionate, personalized, and top-notch care every
                    step of the way.
                </p>
                <p>
                    Trust us with your health, and let us work together to achieve the
                    best possible outcomes for you and your loved ones.
                </p>
            </div>
            <div class="footer__col">
                <h4>About Us</h4>
                <p>Home</p>
                <p>About Us</p>
                <p>Work With Us</p>
                <p>Our Blog</p>
                <p>Terms & Conditions</p>
            </div>
            <div class="footer__col">
                <h4>Services</h4>
                <p>Search Terms</p>
                <p>Advance Search</p>
                <p>Privacy Policy</p>

            </div>
            <div class="footer__col">
                <h4>Contact Us</h4>
                <p>
                    <i class="ri-map-pin-2-fill"></i> 45, ForestHill Summerstrand, Port Elizabeth
                </p>
                <p><i class="ri-mail-fill"></i> eNompilo@gmail.com</p>
                <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
            </div>
        </div>
        <div class="footer__bar">
            <div class="footer__bar__content">
                <p>Copyright © 2023 Innovative Geeks. All rights reserved.</p>
                <div class="footer__socials">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-facebook-fill"></i></span>
                    <span><i class="ri-heart-fill"></i></span>
                    <span><i class="ri-twitter-fill"></i></span>
                </div>
            </div>
        </div>
    </footer>

</Body>
</html>


