@{
    Layout = "_LayoutFormBooking";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power BI Embedding </title>
</head>
<body>
    <iframe title="myPowerBI" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=b4868472-b495-44c7-8594-31cc35839664&autoAuth=true&ctid=bd70eeb3-a537-435a-937c-7cd330dc74d8" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>
