@model GeeksProject02.Models.UpdateBookingViewModel
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
<center><h2>Edit Booking</h2></center>
<form method="post" action="View">

    <div class="form-group">
        <label for="Id">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>

    </div>
    <div class="form-group">
        <label for="First Name">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
        
    </div>
    <div class="form-group">
        <label for="First Name">Surname</label>
        <input type="text" class="form-control" asp-for="LastName">
        <
    </div>
    <div class="form-group">
        <label for="BOB">Date of Birth</label>
        <input type="date" class="form-control" asp-for="DOB">
        
    </div>
    <div class="form-floating mb-3">
        <label for="gender">Gender</label>
        <select class="form-select" id="gender" asp-for="Gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="non-binary">Non-binary</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="form-group">
        <label for="" Email Address>Email Address</label>
    <input type="email" class="form-control"  asp-for="Email">
    <</div>

    <div class ="form-group">
        <label for="PhoneNumber">Phone number</label>
    <input type="tel" class="form-control"  asp-for="PhoneNumber">
    </div>
    <div class="form-group">
        <label for="AdditionalInfo"> Additiona Information</label>
        <textarea class="form-group" asp-for="AdditionalInfo"></textarea>
    </div>
    <div class="form-group">
        <input type="date" class="form-group" asp-for="AppointmentDate">
        <label for="AppointmentDate">Appointment Date</label>   
    </div>

    <label class="form-group">Do you belong to a Medical Aid:</label>
    <select class="form-group" id="medicalAidDropdown">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>

    <div>
        <label class="form-group">Medical Aid Number:</label>
        <input type="text" class="form-control" placeholder="Medical Aid Number" asp-for="MedicalAidNumber">
    </div>
    <div>
        <label class="form-group">Medical Aid Name:</label>
        <input type="text" class="form-group" placeholder="Medical Aid Name" asp-for="MedicalAidName">
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SelectedVaccine)
        <select class="form-select" asp-for="SelectedVaccine" asp-items="@Model.VaccineList" required></select>
        @Html.ValidationMessageFor(model => model.SelectedVaccine, "", new { @class = "field-validation-error" })
    </div>
    
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Last">Delete</button>
</form>