@{
    Layout = "_LayoutFormBooking";
}
@model GeeksProject02.Models.Patient
 

 
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
          rel="stylesheet" />
    @* <title>@ViewData["Appointment booking"]</title> *@
    <!-- Template CSS -->
    @* <link rel="stylesheet" href="~/css/ContactUs.css" asp-append-version="true" />  *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/Vaccine.css" asp-append-version="true" /> *@
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#medicalAidDropdown").on("change", function () {
            var selectedOption = $(this).val();
            if (selectedOption === "yes") {
                alert("Please provide your medical aid information.");
                $("#medicalAidFields").show();

            } else {
                $("#medicalAidFields").hide();
            }
        });

        $("#submitButton").on("click", function () {
            // Perform form submission or other actions
        });
    }); *@

</head>
<body>
    <section class="w3l-bootstrap-header">
        @* <nav class="section__container">
        @* <div class="container"> *@
        @* <a class="navbar-brand" href="index.html">
        @* <img src="~/css/plus-medical-cross-logo-icon-vector.jpg" class="img-fluid" width="52"> *@
        @*  e-Nompilo
        </a>  *@
        @* !-- if logo is image enable this
        @* <a class="navbar-b rand" href="index.html"> *@
        @* <img src="~/css/plus-medical-cross-logo-icon-vector.jpg" alt="Your logo" title="Your logo" style="height:35px;" /> *@
        @* </a>  *@
        @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        </button> *@

        <nav class="section__container nav__container">
            <div class="nav__logo">e-<span>Nompilo</span></div>
            <nav class="section__container nav__container" color="black">
                @* <div class="nav__logo">e-<span>Nompilo</span></div> *@
                <ul class="nav__links">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index_dash">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="AboutUs" asp-action="AboutUs">About Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Services" asp-action="Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="ContactUs" asp-action="ContactUs">Contact Us</a>
                    </li>
                </ul>

                <a class="btn btn-primary" asp-area="" asp-controller="Form" asp-action="Form">Request an Appointment</a>
            </nav>

        </nav>
        
    </section>
    <section class="w3l-about-breadcrumb" color="orange">
        <div class="breadcrumb-bg breadcrumb-bg-contact py-5" color="orange">
            <div class="container py-lg-5 py-md-3">
                <h3><strong>Appointment Request</strong></h3>
                <p><br>Book your appointment with us by filling the form below</p>
            </div>
        </div>
    </section>

    <center><h2>Personal Information</h2></center>
    <form class="form-data" method="post" class="mt-5">
         <div asp-validation-summary="ModelOnly" class="text-danger></div>
        <div class="form-head"></div>
            

       <label class="form-label fs-14;">First Name<span style="color: red;">*</span>:</label><br>
        <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName" ><br>
        <span asp-validation-for="FirstName" class="text-danger"></span> 

        <label class="form-label fs-14;">Surname<span style="color: red;">*</span>:</label><br>
        <input type="text" class="form-control" placeholder="Surname" asp-for="Surname" ><br>
        <span asp-validation-for="Surname" class="text-danger"></span>

        <label class="form-label fs-14;">Date Of Birth<span style="color: red;">*</span>:</label><br>
        <input type="date" class="form-control" asp-for="DOB" ><br>
        <span asp-validation-for="DOB" class="text-danger"></span>

        <div class="form-floating mb-3">
            <label for="gender">Gender</label>
            <select class="form-select" id="gender" asp-for="Gender" >
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="non-binary">Non-binary</option>
                <option value="other">Other</option>
            </select>
        </div>

        <label class="form-label fs-14;">Email Address<span style="color: red;">*</span>:</label><br>
        <input type="email" class="form-control" placeholder="name@example.com" asp-for="EmailAddress" ><br>
        <span asp-validation-for="EmailAddress" class="text-danger"></span>

        <label class="form-label fs-14;">Phone Number<span style="color: red;">*</span>:</label><br>
        <input type="tel" class="form-control" placeholder="0721784629" asp-for="PhoneNumber" ><br>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

        <div class="form-floating">
            <textarea class="form-control" placeholder="Symptoms/Requests" asp-for="AdditionalInfo"></textarea>
            <label for="AdditionalInfo">AdditionalInfo</label>
            <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="date" class="form-control" asp-for="AppointmentDate">
            <label for="AppointmentDate">Appointment Date</label>
            <span asp-validation-for="AppointmentDate" class="text-danger"></span>
        </div>

        <label class="form-label fs-14">Do you belong to a Medical Aid:</label>
        <select class="form-control" id="medicalAidDropdown">
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>

        <div>
            <label class="form-label fs-14">Medical Aid Number:</label>
            <input type="text" class="form-control" placeholder="Medical Aid Number" asp-for="MedicalAidNumber">
        </div>
        <div>
            <label class="form-label fs-14">Medical Aid Name:</label>
            <input type="text" class="form-control" placeholder="Medical Aid Name" asp-for="MedicalAidName">
        </div>

        <input type="submit" class="btn btn-info w-75" value="Submit" />

        
    </form>

    <!-- footer-28 block -->
    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h3>e-<span>Nompilo</span></h3>
                <p>
                    We are honored to be a part of your healthcare journey and committed
                    to delivering compassionate, personalized, and top-notch care every
                    step of the way.
                </p>
                <p>
                    Trust us with your health, and let us work together to achieve the
                    best possible outcomes for you and your loved ones.
                </p>
            </div>
            <div class="footer__col">
                <h4>About Us</h4>
                <p>Home</p>
                <p>About Us</p>
                <p>Work With Us</p>
                <p>Our Blog</p>
                <p>Terms & Conditions</p>
            </div>
            <div class="footer__col">
                <h4>Services</h4>
                <p>Search Terms</p>
                <p>Advance Search</p>
                <p>Privacy Policy</p>

            </div>
            <div class="footer__col">
                <h4>Contact Us</h4>
                <p>
                    <i class="ri-map-pin-2-fill"></i> 45, ForestHill Summerstrand, Port Elizabeth
                </p>
                <p><i class="ri-mail-fill"></i> eNompilo@gmail.com</p>
                <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
            </div>
        </div>
        <div class="footer__bar">
            <div class="footer__bar__content">
                <p>Copyright © 2023 Innovative Geeks. All rights reserved.</p>
                <div class="footer__socials">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-facebook-fill"></i></span>
                    <span><i class="ri-heart-fill"></i></span>
                    <span><i class="ri-twitter-fill"></i></span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>



