@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome to eNompilo</h1>
    <h2 class="display-6" style="font-palette:revert-layer">Were Innovation is Explored.</h2>
</div>
