@page
@model GeeksProject02.Models.DashboardModel
@{

    Layout = "_Layout1Dash";
}


<head>
    <meta charset="utf-8" />
    <title>Dashboard | By The Innovative Geeks</title>
    <link rel="stylesheet" href="~/css/dash.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li type="none"><a href="#" class="logo"><img src="~/css/GroupLogo.png" alt="" /><span class="nav-item01">DashBoard</span></a></li>
                @*<a href="#" class="logo"><img src="~/css/GroupLogo.png" alt=""/></a>*@
                <li type="none"><a href="#"><i class="fas fa-home"></i><span class="nav-item02">Home</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-user"></i><span class="nav-item03">Profile</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-wallet"></i><span class="nav-item04">Medical History</span></a></li>
                @* <li><a href="#"><i class="fas fa-chart"></i><span class="nav-item">Analytics</span></a></li> *@
                <li type="none"><a href="#"><i class="fas fa-tasks"></i><span class="nav-item05">Tasks</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-cog"></i><span class="nav-item06">Settings</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-question-circle"></i><span class="nav-item07">Help</span></a></li>
                <li type="none"><a href="#" class="logout"><i class="fas fa-sign-out-alt"></i><span class="nav-item08">Log Out</span></a></li>
            </ul>
        </nav>

        <section class="main">
               @*  <h1>SubSystems</h1>
                <i class="fas fa-user-cog"></i> *@
            
            <div class="main-systems">
                <div class="card text-center">
                    <i class="fab fa-wordpress"></i>
                    <h3 class="text-center">Vaccination</h3>
                    <p>Join over 10 million people.</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Vaccine" asp-action="Vaccine">Get Vaccinated</a>
                </div>
                <br />
                <div class="card text-center">
                    <i class="fab fa-wordpress"></i>
                    <h3 class="text-center">Consultation</h3>
                    <p>Your Mental Health is also important.</p>
                    <button>More Info</button>
                </div>
                <br />
                <div class="card text-center">
                    <i class="fas fa-palette"></i>
                    <h3 class="text-center">Family Planing</h3>
                    <p>Are you ready for a Family? Or you're not there yet?</p>
                    <button>More Info</button>
                </div>
                <br/>
                <div class="card text-center ">
                    <i class="fab fa-app-store-ios"></i>
                    <h3 class="text-center">Chronic Medication</h3>
                    <p>The right Medication, in the right Dosage is good for you.</p>
                    <button>Get Vaccinated</button>
                    <a href="Chronic">  More Info</a>
                </div>
                <br/>
                <div class="card text-center">
                    <i class="fas fa-cog"></i>
                    <h3 class="text-center">Prenatal Care</h3>
                    <p>The road ahead is not easy, but we will hold your hand the Entire Way.</p>
                    <button>More Info</button>
                </div>
                 <div class="card text-center ">
                <i class="fab fa-app-store-ios"></i>
                <h3 class="text-center">Chronic Medication</h3>
                <p>The right Medication, in the right Dosage is good for you.</p>
                <button>Get Vaccinated</button>
                </div>
                <div class="card text-center">
                <i class="fas fa-cog"></i>
                <h3 class="text-center">Prenatal Care</h3>
                <p>The road ahead is not easy, but we will hold your hand the Entire Way.</p>
                <button>Get Vaccinated</button>
                </div> 
            </div>
        </section>
    </div>
</body>
