<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/LandingPage.css" asp-append-version="true" />
    <title>The Innovative Geeks | eNompilo</title>
</head>
<body>
    <header>
        <nav class="section__container nav__container">
            <div class="nav__logo">e-<span>Nompilo</span></div>
            <nav class="section__container nav__container" color="black">
                @* <div class="nav__logo">e-<span>Nompilo</span></div> *@
                <ul class="nav__links">
                    <li class="nav-item">
                        <a class="nav__logo" asp-area="" asp-controller="Home" asp-action="Index_dash">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav__logo" asp-area="" asp-controller="AboutUs" asp-action="AboutUs">About Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav__logo" asp-area="" asp-controller="Services" asp-action="Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__logo" asp-area="" asp-controller="ContactUs" asp-action="Add">Contact Us</a>
                    </li>
                </ul>
            </nav>
            @* <div><a class="btn btn-primary" asp-area="" asp-controller="Last" asp-action="Add">Request an Appointment</a></div> *@
        </nav>
        <div class="section__container header__container">
            <div class="header__content">
                <h1>Providing an Exceptional Patient Experience</h1>
                <p>
                    Welcome, where exceptional patient experiences are our priority.
                    With compassionate care, state-of-the-art facilities, and a
                    patient-centered approach, we're dedicated to your well-being. Trust
                    us with your health and experience the difference.
                </p>
                @* <button class="btn">See Services</button> *@
            </div>
            
        </div>
    </header>

    <section class="section__container service__container">
        <div class="service__header">
            <div class="service__header__content">
                <h2 class="section__header">Our Special service</h2>
                <p>
                    Beyond simply providing medical care, our commitment lies in
                    delivering unparalleled service tailored to your unique needs.
                </p>
            </div>
            @* <button class="service__btn">Ask A Service</button> *@
        </div>
        <div class="service__grid">
            <div class="service__card">
                <span><i class="ri-syringe-fill"></i></span>
                <h4>Vaccination</h4>
                <p>
                    Protect yourself and your loved ones with Vaccination.
                    Safeguarding health, one shot at a time.
                </p>
                <a class="btn btn-primary" style="color:white" asp-area="" asp-controller="Vaccine" asp-action="Vaccine">Learn More</a>
            </div>
            <div class="service__card">
                <span><i class="ri-hand-heart-fill"></i></span>
                <h4>Prenatal Care</h4>
                <p>
                    Nurturing new life with Prenatal Care.
                    Your journey to motherhood starts here.
                </p>
                <a class="btn btn-primary" style="color:white" asp-area="" asp-controller="Prenatal" asp-action="Index">Learn More</a>

            </div>
            <div class="service__card">
                <span><i class="ri-home-heart-fill"></i></span>
                <h4>Family Planning</h4>
                <p>
                    Take control of your family's future with our Family Planning services.
                    Your choices, your family, your future
                </p>
                <a class="btn btn-primary" style="color:white" asp-area="" asp-controller="FamilyPlanningHome" asp-action="Index">Learn More</a>

            </div>
            <div class="service__card">
                <span><i class="ri-capsule-fill"></i></span>
                <h4>Chronic Medication</h4>
                <p>
                    Simplify your healthcare routine.
                    Conveniently collect your chronic medication with us.
                </p>
                <a class="btn btn-primary" style="color:white" asp-area="" asp-controller="ChronicMedication" asp-action="Chronic">Learn More</a>

            </div>
            <div class="service__card">
                <span><i class="ri-mental-health-fill"></i></span>
                <h4>Counselling</h4>
                <p>
                    Embrace healing and hope through Counseling.
                    We're here to support your emotional well-being.
                </p>
                <a class="btn btn-primary" style="color:white" asp-area="" asp-controller="Counseling" asp-action="Counsel">Learn More</a>
            </div>
        </div>
    </section>
    <section class="section__container about__container">
        <div class="about__content">
            <h2 class="section__header">About Us</h2>
            <p>
                Welcome to our healthcare website, your one-stop destination for
                reliable and comprehensive health care information. We are committed
                to promoting wellness and providing valuable resources to empower you
                on your health journey.
            </p>
            <p>
                Explore our extensive collection of expertly written articles and
                guides covering a wide range of health topics. From understanding
                common medical conditions to tips for maintaining a healthy lifestyle,
                our content is designed to educate, inspire, and support you in making
                informed choices for your health.
            </p>
            <p>
                Discover practical health tips and lifestyle advice to optimize your
                physical and mental well-being. We believe that small changes can lead
                to significant improvements in your quality of life, and we're here to
                guide you on your path to a healthier and happier you.
            </p>
        </div>
        <div class="about__image">
            <img src="~/css/black doctor.jpg" alt="about" />
        </div>
    </section>

    <section class="section__container why__container">
        <div class="why__image">
            <img src="~/css/pexels-mart-production-7088526.jpg" alt="why choose us" />
        </div>
        <div class="why__content">
            <h2 class="section__header">Why Choose Us</h2>
            <p>
                With a steadfast commitment to your well-being, our team of highly
                trained healthcare professionals ensures that you receive nothing
                short of exceptional patient experiences.
            </p>
            <div class="why__grid">
                <span><i class="ri-hand-heart-line"></i></span>
                <div>
                    <h4>Intensive Care</h4>
                    <p>
                        Our Intensive Care Unit is equipped with advanced technology and
                        staffed by team of professionals
                    </p>
                </div>
                <span><i class="ri-truck-line"></i></span>
                <div>
                    <h4>Free Ambulance Car</h4>
                    <p>
                        A compassionate initiative to prioritize your health and
                        well-being without any financial burden.
                    </p>
                </div>
                <span><i class="ri-hospital-line"></i></span>
                <div>
                    <h4>Medical and Surgical</h4>
                    <p>
                        Our Medical and Surgical services offer advanced healthcare
                        solutions to address medical needs.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section__container doctors__container">
        <div class="doctors__header">
            <div class="doctors__header__content">
                <h2 class="section__header">Our Special Doctors</h2>
                <p>
                    We take pride in our exceptional team of doctors, each a specialist
                    in their respective fields.
                </p>
            </div>
            
        </div>
        <div class="doctors__grid">
            <div class="doctors__card">
                <div class="doctors__card__image">
                    <img src="~/css/pexels-antoni-shkraba-5215024.jpg" alt="doctor" />
                    <div class="doctors__socials">
                        <span><i class="ri-instagram-line"></i></span>
                        <span><i class="ri-facebook-fill"></i></span>
                        <span><i class="ri-heart-fill"></i></span>
                        <span><i class="ri-twitter-fill"></i></span>
                    </div>
                </div>
                <h4>Dr. Emily Smith</h4>
                <p>Gynaecologist</p>
            </div>
            <div class="doctors__card">
                <div class="doctors__card__image">
                    <img src="~/css/pexels-tima-miroshnichenko-5452201.jpg" alt="doctor" />
                    <div class="doctors__socials">
                        <span><i class="ri-instagram-line"></i></span>
                        <span><i class="ri-facebook-fill"></i></span>
                        <span><i class="ri-heart-fill"></i></span>
                        <span><i class="ri-twitter-fill"></i></span>
                    </div>
                </div>
                <h4>Dr. Atini Menzi</h4>
                <p>Pyschologist</p>
            </div>
            <div class="doctors__card">
                <div class="doctors__card__image">
                    <img src="~/css/pexels-thirdman-5327656.jpg" alt="doctor" />
                    <div class="doctors__socials">
                        <span><i class="ri-instagram-line"></i></span>
                        <span><i class="ri-facebook-fill"></i></span>
                        <span><i class="ri-heart-fill"></i></span>
                        <span><i class="ri-twitter-fill"></i></span>
                    </div>
                </div>
                <h4>Dr. Michael Lee</h4>
                <p>Obstetrician</p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h3>e-<span>Nompilo</span></h3>
                <p>
                    We are honored to be a part of your healthcare journey and committed
                    to delivering compassionate, personalized, and top-notch care every
                    step of the way.
                </p>
                <p>
                    Trust us with your health, and let us work together to achieve the
                    best possible outcomes for you and your loved ones.
                </p>
            </div>
            <div class="footer__col">
                <h4>About Us</h4>
                <p>Home</p>
                <p>About Us</p>
                <p>Work With Us</p>
                <p>Our Blog</p>
                <p>Terms & Conditions</p>
            </div>
            <div class="footer__col">
                <h4>Services</h4>
                <p>Search Terms</p>
                <p>Advance Search</p>
                <p>Privacy Policy</p>

            </div>
            <div class="footer__col">
                <h4>Contact Us</h4>
                <p>
                    <i class="ri-map-pin-2-fill"></i> 45, ForestHill Summerstrand, Port Elizabeth
                </p>
                <p><i class="ri-mail-fill"></i> eNompilo@gmail.com</p>
                <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
            </div>
        </div>
        <div class="footer__bar">
            <div class="footer__bar__content">
                <p>Copyright © 2023 Innovative Geeks. All rights reserved.</p>
                <div class="footer__socials">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-facebook-fill"></i></span>
                    <span><i class="ri-heart-fill"></i></span>
                    <span><i class="ri-twitter-fill"></i></span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
