@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center">
    <i class="fab fa-wordpress"></i>
    <h1 class="text-center">Welcome to e-Nompilo</h1>
    <p>Where Innovation is explored</p>
</div>