
@{
    Layout = "FamilyPlanning";
}
<head>
    <link rel="stylesheet" href="~/css/FamilyPlanningStyleSheet.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/_Layout.cshtml.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />*@
</head>
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Book Appointment</h1>
    </div>
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">First Name(s)</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Last Name</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Date</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Contact Number</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <Back type="button" class="btn btn-primary">Back</Back>
    @*<button asp-action="Index" class="btn btn-outline-danger" style="align-items:center;">Back</button>*@
    <Submit type="button" class="btn btn-primary">Submit</Submit>

</div>
