@{
    Layout = "FamilyPlanning";
}
<head>
    <link rel="stylesheet" href="~/css/FamilyPlanningStyleSheet.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/_Layout.cshtml.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />*@
</head>

<body>
    <h3 style="color:Background">

        Customer Care
    </h3>
    <h3 style="color:Background">
        Call : 041-625-8000
    </h3>

    <h3 style="color:Background">
        Emergency
    </h3>
    <h3 style="color:Background">
        041-533-3999
    </h3>
    <h3 style="color:Background">
        Email
    </h3>
    <h3 style="color:Background">
        e-Nompilhealth@outlook.ac.za  
    </h3>
</body>