@{
    ViewData["Title"] = "Family Planning Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    @*<link rel="stylesheet" href="~/css/FamilyPlanningStyleSheet.css" asp-append-version="true" />*@
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1." />
    <link href="https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fcdn.jsdelivr.net%2Fnpm%2Fremixicon%403.4.0%2Ffonts%2Fremixicon.css&data=05%7C01%7Cs223005924%40mandela.ac.za%7C666499ffd23f46ca9ab608dbcfb90e5b%7Cbd70eeb3a537435a937c7cd330dc74d8%7C0%7C0%7C638332165936090884%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=wlSp2KjUokJgR7%2B%2F4xBcstx0R%2Bl%2BqNpDUdALnBmm9sQ%3D&reserved=0"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>The Innovative Geeks | eNompilo</title>

    <style>
        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .footer__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .footer__col {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .footer__bar__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .carousel-container {
            padding-bottom: 160px; /* Adjust the value as needed */
        }

        html, body {
            height: 100%;
        }
    </style>

</head>




<body>
    <div class="page-wrap">
        <header>
            <nav class="section__container nav__container">
                <div class="nav__logo">e-<span>Nompilo</span></div>
                <nav class="section__container nav__container" color="black">
                    @* <div class="nav__logo">e-<span>Nompilo</span></div> *@
                    <ul class="nav__links">
                        <li class="nav-item">
                            <a class="nav__logo" asp-area="" asp-controller="Home" asp-action="Index_dash">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav__logo" asp-area="" asp-controller="AboutUs" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav__logo" asp-area="" asp-controller="Services" asp-action="Services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav__logo" asp-area="" asp-controller="ContactUs" asp-action="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </header>

    <style>
        .carousel-container {
            padding-bottom: 160px; /* Adjust the value as needed */
        }
    </style>

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="~/css/Familyplanningslide77.jpg" class="d-block w-100" alt="Slide 1">
                <div class="container">
                    <div class="carousel-caption text-start">
                            <h1 style="background-color:#fb923c">Overview of e-Nompilo's' Family Planning and Contraception.</h1>
                            <p style="background-color:#fb923c">Family planning is a crucial aspect of reproductive health that enables individuals and couples to make informed decisions about when to have children, how many children to have, and the spacing between pregnancies.</p>
                            <p><a class="btn btn-lg btn-primary" href="https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdrhinasheikh.com%2Ffamily-planning-and-contraception-services%2F&data=05%7C01%7Cs223005924%40mandela.ac.za%7C666499ffd23f46ca9ab608dbcfb90e5b%7Cbd70eeb3a537435a937c7cd330dc74d8%7C0%7C0%7C638332165936090884%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=Ml3%2FGsG%2FIe3gtpqfqGXS2R2dQQrMvwUQhmCZI95BwTM%3D&reserved=0 ">Read More></a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/css/FamilyPlanningSlide4.jpg" class="d-block w-100" alt="Slide 2">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>e-Nompilo Oncology</h1>
                        <p>The future of Radio Therapy in Family Planning is here.</p>
                            <p><a class="btn btn-lg btn-primary" href="https://pubmed.ncbi.nlm.nih.gov/12313869/">Learn more about Radio Therapy>></a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <img src="~/css/FamilyPlanningSlide3.jpg" class="d-block w-100" alt="Slide 3">
                <div class="container">
                    <div class="carousel-caption text-end">
                            <h1>South Africa's severe Shortage of contraceptives at public healthcare facilities failing women.</h1>
                            <p>Drugmaker asks FDA to approve Over-the-Counter Birth Control Pill </p>
                        <p><a class="btn btn-lg btn-primary" href="#">Read More></a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <style>
    .col-lg-4 img {
        margin-bottom: 80px; /* Adjust the value as needed */
    }
</style>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="80" height="300" src="~/css/FamilyPlanningCounselling.jpg" alt="Placeholder: 140x140">
                <h2>Counselling And Education</h2>
                <p>Comprehensive education about family planning options, reproductive health, sexually transmitted infections (STIs), and healthy pregnancy is essential. Providing educational materials, workshops, and resources through the subsystem can help promote informed decision-making and responsible sexual health practices.</p>
                    <p><a class="btn btn-secondary" asp-controller="Counseling" asp-action="Counsel">View Details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="80" height="300" src="~/css/FamilyPlanningMethods.jpg" alt="Placeholder: 140x140">
                <h2>Family Planning Methods</h2>
                    <p>Various strategies and techniques that individuals and couples can use to control and space pregnancies according to their reproductive goals. These methods serve as a means to promote responsible and informed family planning decisions. Here's an overview of some common family planning methods</p>
                    <p><a class="btn btn-secondary" asp-controller="FamilyPlanningHome" asp-action="Display">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                    <a href=""> <img style="cursor:pointer" class="bd-placeholder-img rounded-circle" width="80" height="300" src="~/css/FamilyPlanningContraceptivesCalculator.jpg" alt="Placeholder: 140x140"></a>
                <h2>Contraceptives Calculators</h2>
                    <p>Helps individuals and couples estimate their fertile window and the most suitable days for avoiding or achieving pregnancy based on their menstrual cycle data. These calculators typically take into account the menstrual cycle length, the first day of the last menstrual period, and the average length of the luteal phase. Some advanced calculators may also consider additional factors such as the variability of menstrual cycles..</p>
                    <p><a class="btn btn-secondary" asp-controller="FamilyPlanningHome" asp-action="Add">View details »</a></p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="80" height="300" src="~/css/Family Planning Medical History.jpg" alt="Placeholder: 140x140">
                <h2>Medical History</h2>
                    <p>Comprehensive record of a patient's health, including past illnesses, medical conditions, treatments, surgeries, allergies, and family medical history. It is an essential component of a patient's health information, providing healthcare providers with valuable insights into a patient's health status and potential risk factors.</p>
                    <p><a class="nav__logo" asp-area="" asp-controller="FamilyPlanningHome" asp-action="Doctor">Doctor</a></p>
                    <p><a class="nav__logo" asp-area="" asp-controller="FamilyPlanningAdmin" asp-action="Add">Admin</a></p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="80" height="300" src="~/css/family Planning Prescription and dispensing.jpg" alt="Placeholder: 140x140">
                <h2>Prescriptions</h2>
                    <p>When it comes to family planning, prescriptions and dispensing primarily involve the provision of contraceptive medications and devices based on the specific needs and preferences of the patient..</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="80" height="300" src="~/css/Family planning feeedback.jpg" alt="Placeholder: 140x140">
                <h2>Feedback And Survey</h2>
                    <p>Conduct regular surveys to gauge patient satisfaction with the family planning services provided. Include questions related to the quality of care, the helpfulness of the staff, waiting times, and overall experience.</p>
                    <p> <a class="btn btn-secondary" asp-controller="ContactUs" asp-action="ContactUs">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"> Our <span class="text-muted">Vision.</span></h2>
                    <p class="lead">Within the intimate tapestry of life, family planning emerges as the brushstroke of empowerment and foresight, weaving together the aspirations of individuals and the dreams of communities. It transcends the mere realm of birth control, donning the mantle of a compassionate guide, steering families towards a future illuminated by choice, knowledge, and harmony. At e-Nompilo, our vision for family planning is rooted in a profound commitment to fostering an environment where every individual has access to comprehensive information, resources, and support. We envision a world where family planning is not only a matter of informed choice but a celebration of human agency, dignity, and wellbeing...</p>
                    <p><a href="https://www.jhpiego.org/story/a-new-vision-to-transform-family-planning/">Learn More... »</a></p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img circle" width="140" height="400" src="~/css/Family Planning Vision.jpg" alt="Placeholder: 140x140">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Embracing <span class="text-muted">Family Planning</span></h2>
                    <p class="lead">Embracing family planning is akin to planting the seeds of hope and nurturing the garden of possibilities, fostering an environment where dreams can flourish and destinies can unfold gracefully. It is a testament to the human spirit's resilience and wisdom, sowing the seeds of a brighter tomorrow while honoring the realities of today. In this journey, each individual becomes a steward of their own fate, a custodian of the future generation's legacy, and a guardian of the delicate balance between personal aspirations and societal well-being. Family planning, therefore, is not merely a pragmatic choice but a profound act of love, responsibility, and commitment to the greater tapestry of life itself.</p>
                    <p><a href="https://fphandbook.org/sites/default/files/chapter1_1.pdf">Learn More... »</a></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img circle" width="140" height="400" src="~/css/Embracing Family Planning.jpg" alt="Placeholder: 140x140">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">About history of <span class="text-muted">Family Planning?</span></h2>
                    <p class="lead">The history of family planning is a rich tapestry woven through the ages, with its roots extending back to ancient civilizations. While the concept of controlling fertility and managing family size has evolved over time, the underlying principle has remained consistent: enabling individuals to make informed decisions about reproduction. Throughout history, the evolution of family planning has been shaped by social, cultural, and technological changes, reflecting a continuous effort to prioritize the rights and autonomy of individuals in matters related to their reproductive health and family life.</p>
                    <p><a href="https://www.familyplanning.org.nz/about/our-history">Learn More... »</a></p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img circle" width="140" height="400" src="~/css/Family Planning History.jpg" alt="Placeholder: 140x140">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h3>e-<span>Nompilo</span></h3>
                <p>
                    We are honored to be a part of your healthcare journey and committed
                    to delivering compassionate, personalized, and top-notch care every
                    step of the way.
                </p>
                <p>
                    Trust us with your health, and let us work together to achieve the
                    best possible outcomes for you and your loved ones.
                </p>
            </div>
            <div class="footer__col">
                <h4>About Us</h4>
                <p>Home</p>
                <p>About Us</p>
                <p>Work With Us</p>
                <p>Our Blog</p>
                <p>Terms & Conditions</p>
            </div>
            <div class="footer__col">
                <h4>Services</h4>
                <p>Search Terms</p>
                <p>Advance Search</p>
                <p>Privacy Policy</p>

            </div>
            <div class="footer__col">
                <h4>Contact Us</h4>
                <p>
                    <i class="ri-map-pin-2-fill"></i> 45, ForestHill Summerstrand, Port Elizabeth
                </p>
                <p><i class="ri-mail-fill"></i> eNompilo@gmail.com</p>
                <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
            </div>
        </div>
        <div class="footer__bar">
            <div class="footer__bar__content">
                <p>Copyright © 2023 Innovative Geeks. All rights reserved.</p>
                <div class="footer__socials">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-facebook-fill"></i></span>
                    <span><i class="ri-heart-fill"></i></span>
                    <span><i class="ri-twitter-fill"></i></span>
                </div>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>