html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    border-radius: 76px;
    background: #233433;
    /*box-shadow: -33px 33px 66px #1b2827, 33px -33px 66px #2b403f;*/
    background-image: url("pexels-daniel-frank-287237.jpg");
    background-size: cover;
    background-repeat: no-repeat
