@{
    Layout = "Prescription";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text and Label Example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="section">
        <h2>Looking for a specific med we got you/Search for desired med below</h2>
    </div>
    <div class="container">
        <div class="textbox">
            <label for="textbox1">Medication Name:</label>
            <input type="text" id="textbox1">
        </div>
        <div class="textbox">
            <label for="textbox2">Manufacture:</label>
            <input type="text" id="textbox2">
        </div>
        <div class="textbox">
            <label for="textbox3">Source:</label>
            <input type="text" id="textbox3">
        </div>
    </div>
    <button class="search-button">Search</button>
    <div class="wrapper">
        <table>
            <thead>
                <tr>
                    <th>Medication Name</th>
                    <th>Manufacture</th>
                    <th>Source</th>
                    <!-- Add more header cells as needed -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Procyding </td>
                    <td>Value Added life</td>
                    <td>Value Added life</td>
                    <td width="30%">
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="ZFighters" asp-action="purchase" class="btn btn-success mx-1"><i class=" bi bi-pencil-square"></i>ORDER</a>

                        </div>
                    </td>
                    <!-- Add more data cells as needed -->
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>

    </div>
</body>
</html>