@*@page
@model GeeksProject02.Models.VaccineModel
@{
    Layout = "_LayoutCounseling";
}
<head>
    <meta charset="utf-8" />
    <title>Dashboard | By The Innovative Geeks</title>
    <link rel="stylesheet" href="~/css/Background1.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li type="none"><a href="#" class="logo"><img src="~/css/GroupLogo.png" alt="" /><span class="nav-item01">DashBoard</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-home"></i><span class="nav-item02">Home</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-user"></i><span class="nav-item03">Profile</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-wallet"></i><span class="nav-item04">Medical History</span></a></li>
                @* <li><a href="#"><i class="fas fa-chart"></i><span class="nav-item">Analytics</span></a></li> 
                <li type="none"><a href="#"><i class="fas fa-tasks"></i><span class="nav-item05">Tasks</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-cog"></i><span class="nav-item06">Settings</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-question-circle"></i><span class="nav-item07">Help</span></a></li>
                <li type="none"><a href="#" class="logout"><i class="fas fa-sign-out-alt"></i><span class="nav-item08">Log Out</span></a></li>
            </ul>
        </nav>
        <style>
            body {
                font-family: arial, sans-serif;
            }
        </style>

        <h1>WELCOME TO Counseling</h1>
        <br />
        <h3>Mdical History</h3>
        <p>
            Understanding a patient's medical history when booking a counseling session allows the doctor to provide
            personalized, effective, and safe care that considers both the physical and mental aspects of their health. It
            enhances the quality of care and contributes to the overall well-being of the patient.
            Patient’s medical history is not mandatory to fill because it can the first time the patient attends therapy
        </p>
        <br />
        <h3>Preferred Therapist</h3>
        <p>
            It's important to note that therapy is a collaborative process, and finding the right fit is crucial. If you feel a
            preference for a certain therapist, it's worth discussing your feelings with them. Likewise, if you don't feel a
            connection with a therapist, it's okay to explore other options. Your comfort, trust, and alignment with the therapist
            are essential for the therapeutic journey to be successful, that includes gender and race of the therapist.
        </p>
        <br />
        <h3>Reason for Counseling</h3>
        <p>
            Understanding the reason for counseling is a foundational step that guides the
            entire therapeutic process. It provides direction, context, and purpose for both
            the client and the therapist, enhancing the likelihood of successful outcomes.
        </p>
        <div class="Button-container">
            <a class="" asp-area="" asp-controller="Counseling" asp-action="CounselBook">Let us get to know you</a>
            <a class="" asp-area="" asp-controller="Home" asp-action="Index_dash">  Back</a>
        </div>
    </div>

</body>*@
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
		  rel="stylesheet" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<title>The Innovative Geeks | eNompilo</title>
</head>
<body>
	<header>
		<nav class="section__container nav__container">
			<div class="nav__logo">e-<span>Nompilo</span></div>
			<ul class="nav__links">
				<li><Link to="/">Home</li>
				<li><Link to="/about-us">About Us</li>
				<li><Link to="/services">Services</li>
				<li><Link to="/contact-us">Contact Us</li>


			</ul>
			<button class="btn">Contact Us</button>
		</nav>
	</header>
	<div id="BodyWrapper" class="ContentWrapper">
		<div class="grey">
			<div class="container">
				<div class="row">
					<div id="dnn_TopContent" class="col-lg-12 DNNEmptyPane"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="BannerContainer">
		<div id="dnn_Banner" class="Banner">
			<div class="DnnModule DnnModule-DNN_HTML DnnModule-10675 DnnVersionableControl">
				<a name="10675"></a>
				<div class="DNNContainer_noTitle">
					<div id="dnn_ctr10675_ContentPane">
						<!-- Start_Module_10675 --><div id="dnn_ctr10675_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
							<div id="dnn_ctr10675_HtmlModule_lblContent">
								<div class="CovidBanner">

                                    <style>
                                        :root{
    --mainclr:#239f85;
    --secclr:#ff5d22;
    --third:#DFE4E0;
    --mainafterclr:hsl(167, 81%, 79%);
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 85.5%;
    
}
.header{
    padding: 1rem 7%;
    background-color: var(--mainclr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header #logo{
    width: 50px;
}
.navbar a{
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
  
}
.navbar a:after{
    content: '';
    background: var(--secclr);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
}
.navbar a:hover:after{
    content: '';
    background: var(--secclr);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}
.icons div{
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
    display: none;

};
}
.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.background-image{
    background: url(/css/background.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6%;
    position: relative;

}
.background-content{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 50%;
    transform: translate(-80%);
}
.background-content h1{
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
}
.background-content p{
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.background-content a{
    background: var(--secclr);
    padding: 1.5rem 3rem;
    border-radius: 15px;
    color: white;
    font-size: 1.5rem;
    transition: .5s;
}
.background-content a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
    color: black;
}
.about{
    padding: 6rem 7%;
    background: var(--third);
}
.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.inner-about{
    flex: 1 1 40rem;
}

.inner-about .inner-about-image img{
    width: 100%;
}
.about-content{
    width: 80%;
}
.about-content h1{
    font-size: 40px;
    margin-bottom: 15px;
}
.about-content p{
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.about-content a{
    background: var(--secclr);
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: white;
    transition: .5s;
}
.about-content a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
    color: black;
}
.our-services{
    padding: 4rem 7%;
}
.service-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.left-service-content{
    flex: 1 1 45rem;
}
.right-service-content{
    flex: 1 1 45rem;
    display: flex;
    justify-content: flex-end;

}
.left-service-content h1{
    font-size: 40px;
    margin-bottom: 15px;
}
.left-service-content p{
    font-size: 1.5rem;
}
.right-service-content .right-btn a{
    padding: 1.5rem 3rem;
    font-size: 2rem;
    color: white;
    background: var(--secclr);
}
.right-service-content .right-btn a:hover{
    border: 1px solid var(--secclr);
    background: transparent;
    color: black;
}
.main-services{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-services-content{
    flex: 1 1 300px;
    padding: 1rem 3rem;
    text-align: center;
}
.inner-services-content h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.inner-services-content p{
    font-size: 1.5rem;
    line-height: 2;
}
.service-icon i{
    font-size: 4rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    text-align: center;
    line-height: 8rem;
    background: var(--mainafterclr);
    color: var(--mainclr);
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
}
.service-icon i:hover{
    color: white;
    background: var(--mainclr);
}
.gallery{
    padding: 4rem 7%;
}
.gallery h1{
    color: var(--mainclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.inner-gallery{
    flex:1 1 300px;

}
.inner-gallery img{
    width: 100%;
    transition: .3s;
}
.inner-gallery img:hover{
    transform: scale(1.1);
    border-radius: 20px;
}
.our-doctors{
    padding: 4rem 7%;
}
.our-doctors h1{
    text-align: center;
    font-size: 40px;
    color: var(--mainclr);
    margin-bottom: 30px;
}
.main-doctor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.inner-doctor{
    flex: 1 1 300px;
    position: relative;
}
.inner-doctor img{
    width: 100%;

}
.doc-icons{
    position: absolute;
    bottom: 2%;
}
.doc-icons div{
    font-size: 2rem;
    color: var(--mainclr);
    background: white;
    border: 1px solid black;
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    cursor: pointer;
}
.doc-icons div:hover{
    transform: scale(1.1);
}
.why-choseus{
    padding: 4rem 7%;
}
.main-chose{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.inner-chose{
    flex: 1 1 45rem;
}
.inner-chose img{
    width: 100%;
}
.inner-chose h1{
    font-size: 40px;
    color: var(--mainclr);
    margin-bottom: 20px;
}
.main-inner-chose{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    
}
.chose-icon i{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    background: white;
    color: var(--mainclr);
    font-size: 3rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon-content{
    padding: 0 4rem;
}
.icon-content p{
    font-size: 1.5rem;
    line-height: 1;
}
.footer{
    padding: 6rem 7%;
    background: var(--third);
}
.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.inner-footer{
    flex: 1 1 200px;
}
.inner-footer h2{
    font-size: 2rem;
    color: black;
}
.inner-footer a{
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    display: block;
    margin-top: 1rem;
    padding-top: 1rem;
}
.inner-footer a:hover{
    margin-left: 10px;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--mainclr); 
    background: var(--mainclr);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secclr); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--third); 
  }











media (max-width:767px) {

    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    .icons div{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--secclr);
        display: flex;
        
        align-items: center;
        flex-direction: column;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    
    .navbar a{
        display: block;
        font-size: 3rem;
        font-weight: bolder;
        margin: 1rem;
        padding: 1rem;
        color: black;
    }
    .background-content{
        
        width: 100%;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
       padding-left: 5rem;
    }
    .inner-about .inner-about-image img{
        margin-top: 20px;
    }

    .right-service-content{
       
        justify-content: flex-start;
    
    }
    button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}




}


                                    </style>


                                    <section>    
                                        <div class="background-image">
                                            <div class="background-content">
                                                <h1>Welcome to eNompilo Pschologists</h1>
                                                <p>We are multi-faceted pschologist practice </p>
                                                <a href="#">Read more</a>
                                            </div>
                                        </div>

                                    </section>
                                    
                                    <section>
                                        <div class="about">
                                            <div class="main-about">
                                                <div class="inner-about">
                                                    <div class="about-content">
                                                        <h1>Is Psychotherapy for you?</h1>
                                                        <p>
                                                            You have found our page because you know that your life could be better. You may be feeling stuck, alone or hopeless and are looking for ways to create change and get support. Or you may be curious about how psychotherapy can help you to grow and reach your full potential.
                                                            Maybe there is a problem within your relationship or with your child and you need outside support.
                                                            Through counselling, we will help you to identify how to make progress and create a life of meaning.
                                                            Therapy is a commitment to change. The number of sessions needed depends on each person but generally, the therapy process can take between 2 months - 12 months. Remember meaningful, long-term change takes time.

                                                            If you are still unsure about psychotherapy read more about our services or download our Free mental health guide.
                                                        </p>

                                                        <div class="right-service-content">
                                                            <div class="right-btn">
                                                                <a href="#">Download Mental health Guide</a>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="inner-about">
                                                    <div class="inner-about-image">
                                                        <img src="/css/chiness.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </section>
                                    <

                                    <div class="our-services">
                                        <div class="service-content">
                                            <div class="left-service-content">
                                                <h1>What form of psychotherapy are you looking for</h1>
                                                <p>Not sure about psychotherapy?Looking for a specific service?<br />Find out more about what we offer.</p>
                                            </div>

                                            
                                        </div>

                                        <div class="main-services">
                                            <div class="inner-services-content">
                                                <div class="service-icon">
                                                    <i class="fas fa-notes-medical"></i>
                                                </div>
                                                <a class="btn btn-primary" asp-area="" asp-controller="//SERVICES PAGE" asp-action="Counsel">Services</a>

                                            </div>

                                            <div class="inner-services-content">
                                                <div class="service-icon">
                                                    <i class="fas fa-hospital-user"></i>
                                                </div>
                                                <a class="btn btn-primary" asp-area="" asp-controller="//ONLINE SESSION" asp-action="Counsel">Online Session</a>
                                            </div>

                                            <div class="inner-services-content">
                                                <div class="service-icon">
                                                    <i class="fas fa-user-md"></i>
                                                </div>
                                                <a class="btn btn-primary" asp-area="" asp-controller="//In-PERSON" asp-action="Counsel">In-Person Session</a>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="gallery">
                                        <h1>Gallery</h1>
                                        <div class="main-gallery">
                                            <div class="inner-gallery">
                                                <img src="/css/gal1.jpg" alt="">
                                            </div>

                                            <div class="inner-gallery">
                                                <img src="/css/gal2.jpg" alt="">
                                            </div>

                                            <div class="inner-gallery">
                                                <img src="/css/gal3.jpg" alt="">
                                            </div>

                                            <div class="inner-gallery">
                                                <img src="/css/gal4.jpg" alt="">
                                            </div>

                                            <div class="inner-gallery">
                                                <img src="/css/gal5.jpg" alt="">
                                            </div>

                                            <div class="inner-gallery">
                                                <img src="/css/gal6.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="why-choseus">
                                        <div class="main-chose">
                                            <div class="inner-chose">
                                                <img src="/css/cute.jpg" alt="">
                                            </div>

                                            <div class="inner-chose">
                                                <h1>why chose us </h1>

                                                <div class="inner-chose-content">
                                                    <div class="main-inner-chose">
                                                        <div class="chose-icon">
                                                            <i class="fas fa-notes-medical"></i>
                                                        </div>
                                                        <div class="icon-content">
                                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae error explicabo possimus fugit fuga inventore tenetur natus, </p>
                                                        </div>
                                                    </div>

                                                    <div class="main-inner-chose">
                                                        <div class="chose-icon">
                                                            <i class="fas fa-hospital-user"></i>

                                                        </div>
                                                        <div class="icon-content">
                                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae error explicabo possimus fugit fuga inventore tenetur natus, </p>
                                                        </div>
                                                    </div>

                                                    <div class="main-inner-chose">
                                                        <div class="chose-icon">
                                                            <i class="fas fa-user-md"></i>
                                                        </div>
                                                        <div class="icon-content">
                                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae error explicabo possimus fugit fuga inventore tenetur natus, </p>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>



                                    







									</div>
								</div>
							</div>




						</div><!-- End_Module_10675 -->
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>

	



							</div><!-- End_Module_10680 -->
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="dnn_MiddleContentTwo" class="col-lg-12">
				<div class="DnnModule DnnModule-DNN_HTML DnnModule-11307 DnnVersionableControl">
					<a name="11307"></a>
					<div class="DNNContainer_noTitle">
						<div id="dnn_ctr11307_ContentPane">
							<!-- Start_Module_11307 --><div id="dnn_ctr11307_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
								<div id="dnn_ctr11307_HtmlModule_lblContent"></div>




							</div><!-- End_Module_11307 -->
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer class="footer">
		<div class="section__container footer__container">
			<div class="footer__col">
				<h3>e-<span>Nompilo</span></h3>
				<p>
					We are honored to be a part of your healthcare journey and committed
					to delivering compassionate, personalized, and top-notch care every
					step of the way.
				</p>
				<p>
					Trust us with your health, and let us work together to achieve the
					best possible outcomes for you and your loved ones.
				</p>
			</div>
			<div class="footer__col">
				<h4>About Us</h4>
				<p>Home</p>
				<p>About Us</p>
				<p>Work With Us</p>
				<p>Our Blog</p>
				<p>Terms & Conditions</p>
			</div>
			<div class="footer__col">
				<h4>Services</h4>
				<p>Search Terms</p>
				<p>Advance Search</p>
				<p>Privacy Policy</p>

			</div>
			<div class="footer__col">
				<h4>Contact Us</h4>
				<p>
					<i class="ri-map-pin-2-fill"></i> 45, ForestHill Summerstrand, Port Elizabeth
				</p>
				<p><i class="ri-mail-fill"></i> eNompilo@gmail.com</p>
				<p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
			</div>
		</div>
		<div class="footer__bar">
			<div class="footer__bar__content">
				<p>Copyright © 2023 Innovative Geeks. All rights reserved.</p>
				<div class="footer__socials">
					<span><i class="ri-instagram-line"></i></span>
					<span><i class="ri-facebook-fill"></i></span>
					<span><i class="ri-heart-fill"></i></span>
					<span><i class="ri-twitter-fill"></i></span>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>



