@page
@model GeeksProject02.Models.VaccineModel
@{
    Layout = "_LayoutCounseling";
}
<head>
    <meta charset="utf-8" />
    <title>Dashboard | By The Innovative Geeks</title>
    <link rel="stylesheet" href="~/css/Background1.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li type="none"><a href="#" class="logo"><img src="~/css/GroupLogo.png" alt="" /><span class="nav-item01">DashBoard</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-home"></i><span class="nav-item02">Home</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-user"></i><span class="nav-item03">Profile</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-wallet"></i><span class="nav-item04">Medical History</span></a></li>
                @* <li><a href="#"><i class="fas fa-chart"></i><span class="nav-item">Analytics</span></a></li> *@
                <li type="none"><a href="#"><i class="fas fa-tasks"></i><span class="nav-item05">Tasks</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-cog"></i><span class="nav-item06">Settings</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-question-circle"></i><span class="nav-item07">Help</span></a></li>
                <li type="none"><a href="#" class="logout"><i class="fas fa-sign-out-alt"></i><span class="nav-item08">Log Out</span></a></li>
            </ul>
        </nav>
        <h1>Patient Details</h1>
        <br />
<form>   
        <label for="idNumber">Enter ID Number:</label>
        <input type="text" id="idNumber" name="idNumber" />
        <br />
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="Surname">Surname</label>
                <input type="text" class="form-control" id="Surname" placeholder="Surname">
            </div>
            <br />
</form>
            <h1>Contact Details and Address</h1>
<form>
    <div class="form-group">
        <label for="PhoneNumber">Phone Number</label>
        <input type="number" class="form-control" id="PhoneNumber" aria-describedby="PhoneNumber" placeholder="Phone Number">
    </div>
</form>
    <br />
    </div>
    <div> 
        <label for="EmailAddress">EmailAddress</label>
        <input type="email" class="form-control" id="EmailAddress" placeholder="EmailAddress">
        </div>
        <br />
<form>
   <div class="Button-container">
            <div class="Button-container">
               <button type="submit" class="btn btn-primary">Submit</button>
                <a class="" asp-area="" asp-controller="Counseling" asp-action="Counsel"> Restart the process</a>
            </div
 </form>   
    
    </body>
    
