@page
@model GeeksProject02.Models.VaccineModel
@{
    Layout = "_LayoutCounseling";
}
<head>
    <meta charset="utf-8" />
    <title>Dashboard | By The Innovative Geeks</title>
    <link rel="stylesheet" href="~/css/Background1.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li type="none"><a href="#" class="logo"><img src="~/css/GroupLogo.png" alt="" /><span class="nav-item01">DashBoard</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-home"></i><span class="nav-item02">Home</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-user"></i><span class="nav-item03">Profile</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-wallet"></i><span class="nav-item04">Medical History</span></a></li>
                @* <li><a href="#"><i class="fas fa-chart"></i><span class="nav-item">Analytics</span></a></li> *@
                <li type="none"><a href="#"><i class="fas fa-tasks"></i><span class="nav-item05">Tasks</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-cog"></i><span class="nav-item06">Settings</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-question-circle"></i><span class="nav-item07">Help</span></a></li>
                <li type="none"><a href="#" class="logout"><i class="fas fa-sign-out-alt"></i><span class="nav-item08">Log Out</span></a></li>
            </ul>
        </nav>
        <h1>Prefferred Therapist</h1>
        <br />
        <select class="form-select" aria-label="Have a preference for a particular therapist based on recommendation">
            <option selected>Open this select menu</option>
            <option value="1">NO</option>
            <option value="2">Dr Ndlovu</option>
            <option value="3">Dr </option>
        </select>
        <br />
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Gender</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Prefer any</option>
            </select>
        </div>
        <br />
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Race</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">Black</option>
                <option value="2">White</option>
                <option value="3">Colored</option>
            </select>
        </div>
        <br />
        <div class="Button-container">
            <div class="Button-container">
                <a class="" asp-area="" asp-controller="Counseling" asp-action="">Next</a>
                <a class="" asp-area="" asp-controller="Counseling" asp-action="Counsel">  Back</a>
            </div>



        </div>
    </div>
</body>