<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/LandingPage.css" asp-append-version="true" />
    <title>The Innovative Geeks | eNompilo</title>
</head>
<body>
    <header>
        <nav class="section__container nav__container">
            <div class="nav__logo">e-<span>Nompilo</span></div>
            <ul class="nav__links">
                <li class="link"><a href="#">Home</a></li>
                <li class="link"><a href="#">About Us</a></li>
                <li class="link"><a href="#">Services</a></li>
                <li class="link"><a href="#">Contact Us</a></li>

            </ul>
            <button class="btn">Contact Us</button>
        </nav>
        @* <div class="section__container header__container">
            <div class="header__content">
                <h1>Get In Touch With Us</h1>
                <p>
                    Feel free to get in touch with us! Whether you have questions, feedback,
                    or just want to say hello, we'd love to hear from you. Our team is here to assist you, 
                    and we'll do our best to respond as soon as possible. You can reach us through the contact details provided below. 
                    We look forward to connecting with you!
                </p>
                <button class="btn">See Services</button>
            </div>
        </div> *@

</header>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> Contact Us  | eNompilo </title>
        <link rel="stylesheet" href="style.css">
        <!-- Fontawesome CDN Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="left-side">
                    <div class="address details">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="topic">Address</div>
                        <div class="text-one">Surkhet, NP12</div>
                        <div class="text-two">Birendranagar 06</div>
                    </div>
                    <div class="phone details">
                        <i class="fas fa-phone-alt"></i>
                        <div class="topic">Phone</div>
                        <div class="text-one">+0098 9893 5647</div>
                        <div class="text-two">+0096 3434 5678</div>
                    </div>
                    <div class="email details">
                        <i class="fas fa-envelope"></i>
                        <div class="topic">Email</div>
                        <div class="text-one">codinglab@gmail.com</div>
                        <div class="text-two">info.codinglab@gmail.com</div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="topic-text">Send us a message</div>
                    <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
                    <form action="#">
                        <div class="input-box">
                            <input type="text" placeholder="Enter your name">
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Enter your email">
                        </div>
                        <div class="input-box message-box">
                        </div>
                        <div class="button">
                            <input type="button" value="Send Now">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
<footer class="footer">
    <div class="section__container footer__container">
        <div class="footer__col">
            <h3>e-<span>Nompilo</span></h3>
            <p>
                We are honored to be a part of your healthcare journey and committed
                to delivering compassionate, personalized, and top-notch care every
                step of the way.
            </p>
            <p>
                Trust us with your health, and let us work together to achieve the
                best possible outcomes for you and your loved ones.
            </p>
        </div>
        <div class="footer__col">
            <h4>About Us</h4>
            <p>Home</p>
            <p>About Us</p>
            <p>Work With Us</p>
            <p>Our Blog</p>
            <p>Terms & Conditions</p>
        </div>
        <div class="footer__col">
            <h4>Services</h4>
            <p>Search Terms</p>
            <p>Advance Search</p>
            <p>Privacy Policy</p>

        </div>
        <div class="footer__col">
            <h4>Contact Us</h4>
            <p>
                <i class="ri-map-pin-2-fill"></i> 45, ForestHill Summerstrand, Port Elizabeth
            </p>
            <p><i class="ri-mail-fill"></i> eNompilo@gmail.com</p>
            <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
        </div>
    </div>
    <div class="footer__bar">
        <div class="footer__bar__content">
            <p>Copyright © 2023 Innovative Geeks. All rights reserved.</p>
            <div class="footer__socials">
                <span><i class="ri-instagram-line"></i></span>
                <span><i class="ri-facebook-fill"></i></span>
                <span><i class="ri-heart-fill"></i></span>
                <span><i class="ri-twitter-fill"></i></span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>