@{
    Layout = "LayoutForms";
}
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
@model IEnumerable<GeeksProject02.Models.NextMeetings>
@{
    var errorMessage = TempData["errorMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(@errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
        <button type="button" class=" btn-close float-end" data-bs-dismissal="Alert"></button>
    </div>

}

    <header>
        <nav class="section__container nav__container">
            <div class="nav__logo">e-<span>Nompilo</span></div>
            <ul class="nav__links">
                <a asp-action="" asp-controller="">
                <li><Link to="/">Home</li>
                </a>
                <a asp-action="" asp-controller="">
                <li><Link to="/about-us">About Us</li>
                </a>
                <a asp-action="" asp-controller="">
                <li><Link to="/contact-us">View Medical record</li>
                </a>

            </ul>
            @* <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a> *@
            <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a>
        </nav>
    </header>
<div class="medical-history">
    <h2>Next Meetings With a Doctor</h2>
</div>
   
    <br />
    <br />
    @if (Model.Count() > 0)
    {

    <div class="section">
        <h3 class="section-heading">Appointment Details</h3>
       
    </div>
        @foreach (var mpho in Model)
        {

        <div class="section">
           
            <ul>

                <li><strong>Appointment Date:</strong>@mpho.ChronicBookingDate</li>
                <li><strong>Date:</strong>     @mpho.chronicBookingTime </li>
                <li><strong>Reason:</strong> @mpho.ChronicReason </li>
                <li><strong>Doctors Name:</strong>  @mpho.SignitureByName</li>
          




            </ul>
        </div>

        }
 
        
    }
    else
    {
        <p>no appointments available</p>
    }




<div class=" form-group row">

    <div class="col">
        <a asp-action="Chronic" class="btn btn-dark w-75">Back</a>
    </div>
   
</div>