@{
    Layout = "_LayoutChronicMedication";
}

@model IEnumerable<GeeksProject02.Models.NextMeetings>
@{
    var errorMessage = TempData["errorMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(@errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
        <button type="button" class=" btn-close float-end" data-bs-dismissal="Alert"></button>
    </div>

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/PrescriptionView.css" asp-append-version="true" />
    <title>Show/Hide Example</title>
</head>
<body>
    <header>
        <nav class="section__container nav__container">
            <div class="nav__logo">e-<span>Nompilo</span></div>
            <ul class="nav__links">
                <a asp-action="" asp-controller="">
                <li><Link to="/">Home</li>
                </a>
                <a asp-action="" asp-controller="">
                <li><Link to="/about-us">About Us</li>
                </a>
                <a asp-action="" asp-controller="">
                <li><Link to="/contact-us">View Medical record</li>
                </a>

            </ul>
            @* <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a> *@
            <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a>
        </nav>
    </header>
    <div class="container">
        <div class="image"></div>
        <div class="text">
            <h2>chronic Medication</h2>
            <p>Welcome to our Chronic Medication facility.<br /> your trusted source for comprehensive information, guida</p>
        </div>
    </div>
    <br />
    <br />
    @if (Model.Count() > 0)
    {

        <table>

            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Appointment Reason</th>
                    <th>Doctors Signiture</th>
                </tr>
            </thead>
            @foreach (var mpho in Model)
            {
                <tbody>
                    <tr>
                        <td>@mpho.ChronicBookingDate</td>
                        <td>@mpho.chronicBookingTime </td>

                        <td>@mpho.ChronicReason</td>
                        <td>@mpho.SignitureByName</td>



                    </tr>

                </tbody>
            }




        </table>
    }
    else
    {
        <p>no appointments available</p>
    }


</body>
</html>>


